In [2]:
import pandas as pd

## Local Data Science

In [3]:
# obtain a local copy of the data subset
data_subset = pd.read_pickle('https://github.com/OpenMined/datasets/blob/main/TissueMNIST/subsets/TissueMNIST-04b0fe07281c47d79276a4f4941dbdca.pkl?raw=true')
data_subset.sample(5)

      patient_ids                                             images  labels
62         516943  [[13, 12, 10, 8, 8, 8, 9, 9, 14, 16, 22, 25, 2...       5
299        517810  [[19, 11, 7, 11, 15, 15, 13, 13, 14, 14, 16, 1...       1
721        520323  [[1, 2, 3, 4, 5, 5, 5, 5, 11, 12, 14, 14, 14, ...       6
384        520001  [[14, 12, 12, 16, 20, 21, 17, 13, 12, 12, 11, ...       1
2356       527572  [[11, 18, 15, 11, 19, 39, 80, 126, 135, 123, 7...       1

In [4]:
# How many unique patients are there?
len(data_subset.patient_ids.unique())

11

In [5]:
# How many unique labels are there?
len(data_subset.labels.unique())

8

In [8]:
# How many occurences of each label?
data_subset.labels.value_counts()

0    741
6    570
7    362
3    198
4    160
1    131
5    116
2     85
Name: labels, dtype: int64

In [7]:
# How are the labels distributed?
data_subset.labels.value_counts(normalize=True)

0    0.313584
6    0.241219
7    0.153195
3    0.083792
4    0.067711
1    0.055438
5    0.049090
2    0.035971
Name: labels, dtype: float64

## Remote Data Science

In [ ]:
# connect to the domain
domain = sy.login(
    email="",
    password="", port=8081)

In [ ]:
# what datasets are available?
domain.datasets

In [ ]:
# How many unique patients are there?

In [ ]:
# How many unique labels are there?

In [ ]:
# How many occurences of each label?