# PyGrid Client Group API

In [1]:
from syft.grid.client.client import connect
from syft.grid.client.grid_connection import GridHTTPConnection
from syft.core.node.domain.client import DomainClient

import syft as sy
import torch as th

sy.VERBOSE = False

In [2]:
domain = connect(
    url="http://localhost:5000", # Domain Address
    credentials={"email":"admin@email.com", "password":"pwd123"},
    conn_type= GridHTTPConnection, # HTTP Connection Protocol
) # Domain Client type

In [4]:
domain.users.all(pandas=True)

,id,email,private_key,verify_key,role,groups
0,1,admin@email.com,29939ab5ed1b996379ad25fe9c510e29fb47ccbaccc0d8...,297cf2c850e4c90471b18c70b127a5c9087a93bb679219...,4,[]
1,3,user3@email.com,2f3110c1f9fda3fc0ebe8c99a1791fea8af17e7a9438dc...,04e6296476a63b76892f9ebba32fbbb2f701517137ca54...,1,[]
2,4,user4@email.com,9203dd6e16f80facbb8becefb3bff7b85b6803e090dc6d...,fc1ab259d94cc0e9faa213347f49dd7931a5a81a06858e...,2,[]
3,5,user5@email.com,0c3fe4085708757ca54c04b13b8fa2c2611c036585a09d...,3a5063949d8fdd8ef85f24e0e34fbaff442bef601fa9cc...,1,[]

In [5]:
domain.groups.create(name="Research Group", users=[4,3,1])
domain.groups.create(name="Diabetes Medical Ward", users=[3,1])
domain.groups.create(name="Cancer Research", users=[1,4])

{'msg': 'Group created successfully!'}

In [6]:
domain.groups.all(pandas=True)

   id                   name      users
0   1         Research Group  [4, 3, 1]
1   2  Diabetes Medical Ward     [3, 1]
2   3        Cancer Research     [1, 4]

In [7]:
print("Group Name: ", domain.groups[2].name)
print("Group Users: ", domain.groups[2].users)

Group Name:  Diabetes Medical Ward
Group Users:  [3, 1]

In [8]:
domain.groups.update(group_id=2, name="Heart Disease Research", users=[4,3,1])

{'msg': 'Group updated successfully!'}

In [9]:
assert domain.groups[2].name == "Heart Disease Research"
assert domain.groups[2].users == [4,3,1]

In [10]:
del domain.groups[2]

In [11]:
domain.groups.all(pandas=True)

   id             name      users
0   1   Research Group  [4, 3, 1]
1   3  Cancer Research     [1, 4]