# Canada Trade Data DP Demo - Data Owner

In [13]:
# Import libraries
import syft as sy
import torch
import numpy as np
from syft.core.adp.entity import DataSubject
import pandas as pd

# Step 1: Load Canada Trade Data

In [14]:
canada = pd.read_csv("../../../trade_demo/datasets/ca - feb 2021.csv")

/Users/atrask/opt/anaconda3/envs/syft/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
canada.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

In [16]:
# Get canada trade data and convert into unit millions
canada_trade = (np.array(list(canada['Trade Value (US$)'])) / 1000000)[0:100]
trade_partners = ((list(canada['Partner'])))[0:100]

In [19]:
# TARGET QUERY: Sum total in/out trade for Canada
sum(canada_trade)

190.936317

# Step 2: Login to Domain as Admin User

In [20]:
# Login to new Domain

canada = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!

# Step 3: Add DP Metadata and Load Into Domain

In [21]:
data_batch = canada_trade

entities = list()
for i in range(len(data_batch)):
    entities.append(DataSubject(name=trade_partners[i]))

# Upload a private dataset to the Domain object, as the root owner
data = sy.Tensor(data_batch).private(0, 165, entities=entities).tag("trade_flow")

In [22]:
# Send data to the domain object
data_ptr = data.send(canada)

In [23]:
canada.store

[<syft.proxy.syft.core.tensor.tensor.TensorPointer object at 0x7fb99998cdd0>, <syft.proxy.syft.lib.python.IntPointer object at 0x7fb999f31250>, <syft.proxy.syft.lib.python.IntPointer object at 0x7fb9993d7410>, <syft.proxy.syft.lib.python.IntPointer object at 0x7fb9993d7550>, <syft.proxy.syft.core.tensor.tensor.TensorPointer object at 0x7fb9993d7910>, <syft.proxy.syft.lib.python.IntPointer object at 0x7fb9993d7390>, <syft.proxy.syft.lib.python.IntPointer object at 0x7fb9993d72d0>, <syft.proxy.syft.core.tensor.tensor.TensorPointer object at 0x7fb99950db50>, <syft.proxy.syft.lib.python.IntPointer object at 0x7fb99951add0>, <syft.proxy.syft.core.tensor.tensor.TensorPointer object at 0x7fb999522250>]

# Step 4: Use UI To Create Data Scientist User and Set Budget