In [135]:
import pyodbc
import pandas
from datetime import datetime, date
import re
import sys
import numpy as np
import time
import pyodbc
import os
import subprocess
start = time.time()
cnxn = pyodbc.connect("DRIVER={ODBC Driver 17 for SQL Server};SERVER=edhazurencertdmgbprod.database.windows.net;PORT=1433;DATABASE=edhazurencertdmgbprod;UID=BOT_PMI_PaymentPlanEUR@ab-inbev.com;PWD=3]TF9+T7mqa5_\j,[F+3nY{z7@'n3m[};AUTHENTICATION=ActiveDirectoryPassword")

In [2]:
sql = "SELECT lifnr, zlspr, blart, bukrs, belnr, xblnr, zterm, shkzg, dmbtr, waers, mwskz, sgtxt FROM [abi_compliance_control_europe_non_sensitive_rpt].[bsik]"
bsik_data = pandas.read_sql(sql,cnxn)
t1 = time.time()

In [3]:
sql = "SELECT belnr, zfbdt FROM [abi_compliance_control_europe_non_sensitive_rpt].[bseg] WHERE koart = 'K' AND augbl = ''"
bseg_data = pandas.read_sql(sql,cnxn)
bseg_data['zfbdt'] = pandas.to_datetime(bseg_data['zfbdt'], format='%Y%m%d').dt.date
t2 = time.time()

In [4]:
bsik_data = pandas.merge(bsik_data, bseg_data, how = 'left', on = 'belnr')
bsik_data.drop_duplicates(['belnr'], keep='first', inplace=True)

In [5]:
sql = "SELECT lifnr, name1, sperz, brsch FROM [abi_compliance_control_europe_non_sensitive_rpt].[lfa1]"
lfa1_data = pandas.read_sql(sql,cnxn)
t3 = time.time()

In [6]:
sql = "SELECT lifnr, xausz FROM [abi_compliance_control_europe_non_sensitive_rpt].[lfb1]"
lfb1_data = pandas.read_sql(sql,cnxn)
t4 = time.time()

In [15]:
sql = "SELECT belnr, awkey FROM [abi_compliance_control_europe_non_sensitive_rpt].[bkpf] WHERE blart = 'YE'"
bkpf_data = pandas.read_sql(sql,cnxn)
t5 = time.time()

In [106]:
# sql = "SELECT mandt, belnr, bstat FROM [abi_compliance_control_europe_non_sensitive_rpt].[vbkpf]"
sql = "SELECT * FROM [abi_compliance_control_europe_non_sensitive_rpt].[vbkpf]"
vbkpf_data = pandas.read_sql(sql,cnxn)
t6 = time.time()

In [9]:
bsik_vendors = bsik_data.lifnr.unique()

In [31]:
def process_status(x):
    if x =='V':
        return 'Parked'
    return 'Posted'

def concat_strs(*args):
    res = ''
    for arg in args:
        res = res + str(arg) + ' '
    return res

In [83]:
def run():
    count = 0
    script_file = '/Users/vsquareg/AbInBev/main.py'
    for vendor in bsik_vendors[:]:
        company_codes = []
#         if vendor == '0000381111':
        if True:
            vendor_bsik_data = bsik_data[bsik_data['lifnr'] == vendor]
            company_codes = list(vendor_bsik_data.bukrs.unique())
#             print(vendor)
    
        for company_code in company_codes:
#             if vendor == '0000381111':
#             if True:
            if company_code == 'FR11':
                print(vendor, company_code, company_codes)

                folder_location = '/Users/vsquareg/AbInBev'
                vendor_id = vendor
                vendor_name = lfa1_data[lfa1_data['lifnr'] == vendor]['name1'].iloc[0]
                vendor_type = lfb1_data[lfb1_data['lifnr'] == vendor]['xausz'].iloc[0]
                vendor_email_address = 'vaibhav.vardhan@ab-inbev.com'

                name_prefix = str(vendor) + '_' + str(company_code)
                fbl1n_file = name_prefix + '_raw.xlsx'
                save_file = name_prefix + '_final.xlsx'
                log_file = name_prefix + '_log.txt'
                vim_file = 'VIM_Analytics_FR11.xlsx'
                euz_scheduled_file = 'EUZ_Scheduled_Run.xlsx'
                pc_codes_file = 'pc_codes.xlsx'

                fbl1n = bsik_data[(bsik_data['lifnr'] == vendor) & (bsik_data['bukrs'] == company_code)]
                fbl1n = pandas.merge(fbl1n, vbkpf_data, how = 'left', on='belnr')
                fbl1n['status'] = fbl1n['bstat'].apply(process_status)

                fbl1n.drop_duplicates(['belnr'], keep='first', inplace=True)

                fbl1n = pandas.merge(fbl1n, bkpf_data, how = 'left', on='belnr')

                fbl1n.drop_duplicates(['belnr'], keep='first', inplace=True)

                fbl1n.to_excel(os.path.join(folder_location, fbl1n_file), index=False)

    #             p = subprocess.Popen(['python3', '/Users/vsquareg/AbInBev/main.py', concat_strs(folder_location, fbl1n_file, save_file, log_file, \
    #                                                               vendor_id, vendor_type, pc_codes_file, euz_scheduled_file, \
    #                                                               vim_file, vendor_email_address), vendor_name])
                p = subprocess.Popen([
                        'python3', 
                        script_file, 
                        folder_location,
                        fbl1n_file,
                        save_file,
                        log_file,
                        vendor_id,
                        vendor_type,
                        pc_codes_file,
                        euz_scheduled_file,
                        vim_file,
                        vendor_email_address,
                        vendor_name
                         ])
                print('python3', 
                        script_file, 
                        folder_location,
                        fbl1n_file,
                        save_file,
                        log_file,
                        vendor_id,
                        vendor_type,
                        pc_codes_file,
                        euz_scheduled_file,
                        vim_file,
                        vendor_email_address,
                        vendor_name
                    )
                print(p.poll())
                count += 1
                if count > 1:
                    return
                

#     except:
#         print(vendor_name, vendor_id, vendor_type, fbl1n.shape)
#     if vendor == '0000381111':
#         print('present')
#         fbl1n_file = str(vendor) + '_raw.xlsx'

#         fbl1n = bsik_data[bsik_data['lifnr'] == vendor]
#         fbl1n = pandas.merge(fbl1n, vbkpf_data, how='left', on='belnr')
#         fbl1n['status'] = fbl1n['bstat'].apply(process_status)
#         fbl1n.to_excel(fbl1n_file)

In [84]:
run()

0000000003 FR11 ['BE11', 'HQ06', 'DE11', 'GB11', 'FR11', 'LU01']
python3 /Users/vsquareg/AbInBev/main.py /Users/vsquareg/AbInBev 0000000003_FR11_raw.xlsx 0000000003_FR11_final.xlsx 0000000003_FR11_log.txt 0000000003  pc_codes.xlsx EUZ_Scheduled_Run.xlsx VIM_Analytics_FR11.xlsx vaibhav.vardhan@ab-inbev.com INBEV NEDERLAND NV
None
0000000001 FR11 ['AT11', 'HQ06', 'NL11', 'FR11', 'GB11', 'SE11', 'JP11', 'PL11', 'DE11', 'CH11', 'HQ01', 'DE20', 'LU01', 'RO11', 'DK11', 'ES11', 'NO11']
python3 /Users/vsquareg/AbInBev/main.py /Users/vsquareg/AbInBev 0000000001_FR11_raw.xlsx 0000000001_FR11_final.xlsx 0000000001_FR11_log.txt 0000000001  pc_codes.xlsx EUZ_Scheduled_Run.xlsx VIM_Analytics_FR11.xlsx vaibhav.vardhan@ab-inbev.com SRL InBev Belgium BV
None

In [61]:
p = subprocess.Popen(['python3', 
                      '/Users/vsquareg/AbInBev/main.py', 
                      '/Users/vsquareg/AbInBev',
                      '0000381111_FR11_raw.xlsx',
                      '0000381111_FR11_final.xlsx',
                      '0000381111_FR11_log.txt',
                      '0000381111',
                      '4',
                      'pc_codes.xlsx',
                      'EUZ_Scheduled_Run.xlsx',
                      'VIM_Analytics_381111.xlsx',
                      'vaibhav.vardhan@ab-inbev.com',
                      'ADM',
                      'Spain'
                     ])
p.wait()

0

In [59]:
'0000381111_FR11_raw.xlsx 0000381111_FR11_final.xlsx 0000381111_FR11_log.txt 0000381111 4 pc_codes.xlsx EUZ_Scheduled_Run.xlsx VIM_Analytics_381111.xlsx vaibhav.vardhan@ab-inbev.com ADM Spain'.split(' ')

['0000381111_FR11_raw.xlsx',
 '0000381111_FR11_final.xlsx',
 '0000381111_FR11_log.txt',
 '0000381111',
 '4',
 'pc_codes.xlsx',
 'EUZ_Scheduled_Run.xlsx',
 'VIM_Analytics_381111.xlsx',
 'vaibhav.vardhan@ab-inbev.com',
 'ADM',
 'Spain']

In [12]:
t6 = time.time()

In [13]:
print(t1 - start, t2 - t1, t3 - t2, t4 - t3, t5 - t4, t6 - t5)

109.12335109710693 1.734738826751709 3.7038631439208984 1.0808429718017578 7.06179404258728 2.2713990211486816

In [ ]:
sql = "SELECT [zfbdt], COUNT(*) AS count1 FROM [abi_compliance_control_europe_non_sensitive_rpt].[bsik] GROUP BY [zfbdt]"
tmp = pandas.read_sql(sql,cnxn)

In [28]:
bsik_data

,lifnr,zlspr,blart,bukrs,belnr,xblnr,zterm,shkzg,dmbtr,waers,mwskz,sgtxt,zfbdt
0,0000300395,,YE,BE11,5100020781,910205136,090E,H,83.54,EUR,A7,,2021-02-03
2,0000000525,,RE,BE11,5100022616,0523579835,020F,H,7573.83,MXN,B9,,2021-03-20
4,0000300270,,RE,BE11,5100025439,130370520,180E,H,7358.49,EUR,J3,PC24,2021-02-15
5,0000000186,,RE,BE11,5100057975,7881966608,020F,H,10030.49,EUR,E2,,2021-05-20
6,0000000186,,RE,BE11,5100046226,7881955894,020F,H,10742.82,EUR,E2,,2021-04-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
709152,0000358053,,RE,RU01,5112913710,8401703272/8481,I105,H,361892.54,RUB,T1,Оплата по СФ 8401703272/8481 от 25.02.2021,2021-02-25
709157,0090006890,,SB,RO11,1200024866,NICA-NOVOTEL LEU,,S,1696.62,RON,,Nica-Novotel Leuven,NaN
709158,0003011484,,RE,UA01,5112909955,АКТ 555,I050,H,780.00,UAH,P2,АКТ 555 від 08.02.2021 за прийм авто транспорту,2021-02-08
709159,0000341675,,RE,RU14,5112986219,КЗН00279,I150,H,4022.02,RUB,T1,Опл по сч Кзн00279 от 31/03/21 за услуги,NaN
709165,0000369645,,RE,BE11,5100036280,3301655171,135E,H,2905.54,EUR,B1,,2021-02-21

In [29]:
bkpf_data

             belnr           awkey
0       5100086460  51116024402019
1       5100074978  51115558812019
2       5100088509  51116117952019
3       5100075816  51115587042019
4       5100032984  51114087212019
...            ...             ...
390503  5100001024  51128274572021
390504  5100000495  51128190342021
390505  5100003486  51128191942021
390506  5100000074  51128151252021
390507  5100003158  51128169152021

[390508 rows x 2 columns]

In [30]:
fbl1n

,lifnr,zlspr,blart,bukrs,belnr,xblnr,zterm,shkzg,dmbtr,waers,mwskz,sgtxt,zfbdt,bstat,status,awkey
0,0000381111,,YE,FR11,5100005275,IABESP01000986,I053,H,1095.00,EUR,K2,,2021-04-21,V,Parked,51113252242019
10,0000381111,,RE,FR11,5100006320,IABESP01000981,I053,H,5500.00,EUR,K2,PC39,2021-02-23,V,Parked,51123448422020
19,0000381111,,YE,FR11,5100003280,IABESP01000898,I053,H,2585.25,EUR,K2,,2020-12-22,V,Parked,51128102482021
30,0000381111,,YE,FR11,5100006561,IABESP01000993,I053,H,2511.00,EUR,G2,,2021-03-03,V,Parked,51129106392021
39,0000381111,,YE,FR11,5100012796,IABESP01001143,I053,H,5600.75,EUR,K2,,2021-04-27,NaN,Posted,51118518612019
44,0000381111,,YE,FR11,5100006117,IABESP01000972,I053,H,5580.00,EUR,G2,,2021-02-25,V,Parked,51120925892020
52,0000381111,,YE,FR11,5100008968,IABESP01001073,I053,H,1890.00,EUR,G2,,2021-03-23,V,Parked,51122193172020
62,0000381111,,YE,FR11,5100008965,IABESP01001137,I053,H,2400.30,EUR,G2,,2021-03-17,V,Parked,51114277632019
75,0000381111,,YE,FR11,5100012005,IABESP01001157,I053,H,3958.50,EUR,K2,,2021-02-09,V,Parked,51128392452021
81,0000381111,,YE,FR11,5100012006,IABESP01001163,I053,H,1458.60,EUR,K2,,2021-03-31,V,Parked,51128392462021
87,0000381111,,YE,FR11,5100005945,IABESP01000976,I053,H,5232.00,EUR,K2,,2021-04-20,V,Parked,51113258972019

In [69]:
sql = "SELECT lifnr, zlspr, blart, bukrs, belnr, xblnr, zterm, shkzg, dmbtr, waers, mwskz, sgtxt FROM [abi_compliance_control_europe_non_sensitive_rpt].[bsik] WHERE lifnr = '0000381111' AND bukrs = 'FR11'"
tmp = pandas.read_sql(sql,cnxn)

In [ ]:
sql = "SELECT lifnr, zlspr, blart, bukrs, belnr, xblnr, zterm, shkzg, dmbtr, waers, mwskz, sgtxt FROM [abi_compliance_control_europe_non_sensitive_rpt].[bsik] WHERE lifnr = '0000381111' AND bukrs = 'FR11'"
tmp = pandas.read_sql(sql,cnxn)

In [72]:
ltmp.belnr.unique()

array(['5100006898', '5100006419', '5100006242', '5100006306',
       '5100011514', '5100009579', '5100005275', '5100011219',
       '5100006320', '5100009213', '5100007921', '5100012417',
       '5100006117', '5100005945', '5100009578', '5100007635',
       '5100005910', '5100005270', '5100005274', '5100008968',
       '5100003280', '5100012005', '5100006561', '5100012796',
       '5100012794', '5100010429', '5100005415', '5100008085',
       '5100012006', '5100008965', '5100012988', '5100000257',
       '5100007494', '5100009380'], dtype=object)

In [73]:
tmp

,lifnr,zlspr,blart,bukrs,belnr,xblnr,zterm,shkzg,dmbtr,waers,mwskz,sgtxt
0,0000381111,,YE,FR11,5100006898,IABESP01000764,060J,H,8188.64,EUR,K2,
1,0000381111,,YE,FR11,5100006419,IABESP01001050,I053,H,120976.00,EUR,**,
2,0000381111,,YE,FR11,5100006242,IABESP01001154,I053,H,3541.00,EUR,K2,
3,0000381111,,YE,FR11,5100006306,IABESP01000975,I053,H,3966.00,EUR,K2,
4,0000381111,,YE,FR11,5100011514,IABESP01001081,I053,H,1890.00,EUR,G2,
5,0000381111,,YE,FR11,5100009579,IABESP01001053,I053,H,660.00,EUR,K2,
6,0000381111,,YE,FR11,5100005275,IABESP01000986,I053,H,1095.00,EUR,K2,
7,0000381111,,RE,FR11,5100011219,IABESP01001102,I053,H,22099.00,EUR,G2,
8,0000381111,,RE,FR11,5100006320,IABESP01000981,I053,H,5500.00,EUR,K2,PC39
9,0000381111,,YE,FR11,5100009213,IABESP01001009,I053,H,5899.20,EUR,K2,
10,0000381111,,YE,FR11,5100007921,IABESP01000987,I053,H,7140.00,EUR,K2,
11,0000381111,,YE,FR11,5100012417,IABESP01001142,I053,H,3326.40,EUR,G2,
12,0000381111,,YE,FR11,5100006117,IABESP01000972,I053,H,5580.00,EUR,G2,
13,0000381111,,YE,FR11,5100005945,IABESP01000976,I053,H,5232.00,EUR,K2,
14,0000381111,,YE,FR11,5100009578,IABESP01001011,I053,H,1488.00,EUR,K2,
15,0000381111,,YE,FR11,5100007635,IABESP01001007,I053,H,1185.60,EUR,K2,
16,0000381111,,YE,FR11,5100005910,IABESP01001046,I053,H,10374.00,EUR,K2,
17,0000381111,,YE,FR11,5100005270,IABESP01000951,I053,H,6098.00,EUR,K2,
18,0000381111,,YE,FR11,5100005274,IABESP01000967,I053,H,1056.80,EUR,K2,
19,0000381111,,YE,FR11,5100008968,IABESP01001073,I053,H,1890.00,EUR,G2,
20,0000381111,,YE,FR11,5100003280,IABESP01000898,I053,H,2585.25,EUR,K2,
21,0000381111,,YE,FR11,5100012005,IABESP01001157,I053,H,3958.50,EUR,K2,
22,0000381111,,YE,FR11,5100006561,IABESP01000993,I053,H,2511.00,EUR,G2,
23,0000381111,,YE,FR11,5100012796,IABESP01001143,I053,H,5600.75,EUR,K2,
24,0000381111,,YE,FR11,5100012794,IABESP01001155,I053,H,5930.00,EUR,K2,
25,0000381111,,YE,FR11,5100010429,IABESP01001100,I053,H,1108.80,EUR,K2,
26,0000381111,,YE,FR11,5100005415,IABESP01000977,I053,H,1296.75,EUR,K2,
27,0000381111,,YE,FR11,5100008085,IABESP01001047,I053,H,7875.00,EUR,G2,
28,0000381111,,YE,FR11,5100012006,IABESP01001163,I053,H,1458.60,EUR,K2,
29,0000381111,,YE,FR11,5100008965,IABESP01001137,I053,H,2400.30,EUR,G2,
30,0000381111,,RE,FR11,5100012988,IABESP01001123,I053,H,2671.20,EUR,G2,
31,0000381111,,RE,FR11,5100000257,IABESP01000564,I053,H,4660.00,EUR,G2,G/L account 6103519 only postable automatically
32,0000381111,,YE,FR11,5100007494,IABESP01000990,I053,H,18780.00,EUR,K2,
33,0000381111,,YE,FR11,5100009380,IABESP01001055,I053,H,1274.00,EUR,**,

In [132]:
tmp1 = vbkpf_data[vbkpf_data['bukrs'] == 'NL11']

In [ ]:
fix = 5100000204

In [130]:
posted = [5100007120,5100027800,5100005319,5100021771,5100007121,5100001092,5100039454,5100007665,1900000087,1900000105,1900000104,1900000103,1900000106,1900000127,1900000128,5100000909,5100000314,5100000270,5100000313,5100000267,5100000276,5100000279,5100000277,5100000278,5100037008,5100027760,5100027759,5100004981,5100018376,1900000037,5100000461,5100036454,5100036793,5100036790,5100036788,5100036787,5100000481,5100029950,5100000616,1900000066,2000008941,5100005058,5100000699,5100000591,5100000816,5100007670,5100013523,5100013522,5100007663,5100007664,5100007662,5100007672,5100007671,5100015386,5100000502,1900000077,1900000076,1900000075,5100000534,5100038244,5100007666,5100002440,5100002736,5100007668,5100003104,5100003377,5100000754,1900000241,5100003467,5100006242,1900000080,3100000845,5100037996,5100005517,5100036801,5100036798,1900000071,1900000068,1900000069,1900000070,5100000577,5100000615,5100028151,1900000226,3100001546,5100006637,5100036368,5100036372,5100036364,5100036365,5100006643,2000008940,100049424,100049425,100049426,100049429,100049430,100134295,2000017165,5100003006,5100004979,5100011577,5100013805,5100005048,5100005063,5100036112]

In [136]:
sql = "SELECT DISTINCT bukrs FROM [abi_compliance_control_europe_non_sensitive_rpt].[bseg]"
cocos = pandas.read_sql(sql,cnxn)
t1 = time.time()

In [137]:
cocos

    bukrs
0    HQ01
1    HQ36
2    HQ35
3    HQ55
4    HX17
..    ...
195  HQ93
196  HX13
197  HX92
198  PL11
199  HQ87

[200 rows x 1 columns]