# PyGrid Client Group API

In [1]:
from syft.grid.client.client import connect
from syft.grid.client.grid_connection import GridHTTPConnection
from syft.core.node.domain.client import DomainClient

import syft as sy
import torch as th

sy.VERBOSE = False

In [2]:
domain = connect(
    url="http://localhost:5000", # Domain Address
    credentials={"email":"admin@email.com", "password":"pwd123"},
    conn_type= GridHTTPConnection, # HTTP Connection Protocol
    client_type=DomainClient) # Domain Client type

In [3]:
domain.users.create(email="group_user1@email.com", password="user123")
domain.users.create(email="group_user2@email.com", password="user123")
domain.users.create(email="group_user3@email.com", password="user123")
domain.users.create(email="group_user4@email.com", password="user123")

{'message': 'User created successfully!'}

In [4]:
domain.users.all(pandas=True)

,id,email,private_key,verify_key,role
0,1,admin@email.com,32531381c9fccccba09885e00d353907371049e2225d9c...,d8ff266c4898285e8319aa7f4f53f6b3a059c1dd837ad6...,4
1,3,user3@email.com,1c1bf11ee5d812c53557e015ef66d0fe55aad6ccd9768e...,3fe14c9b329961193782de92d8d7bf44af96b2955f7f53...,1
2,4,user4@email.com,94caead1b596b9daba9d239c502ebcb8cd52b1d015214e...,0f394ed72494e7b604ba77f04b36b8a7db8e7e734caab8...,2
3,5,user5@email.com,3a6a9c15981ad68c6de91cf3d242f79381d100aae0bdfc...,c304259a69fe185b89f59de27c45e75e9572218c1141f3...,1
4,6,group_user1@email.com,f24f16583b77d988485c01c3ef91d337021e6f523ac3b5...,abf471fcd84137adc1cb82739fae7ca96f07cb2fac7981...,1
5,7,group_user2@email.com,db11fa2b57a6f0fb59b93ea7442de810bb98312f5af833...,0edeec716ed3af781552b01832ea69477cc42ecf744f83...,1
6,8,group_user3@email.com,fac60639bd6c0ee3e88f9af9cdb78fe55b5d54a5571427...,797d4d52b84feb656793a1e6b06649605b3e3e378c5e0d...,1
7,9,group_user4@email.com,5f6ba0368ca5a2ee702fe409eb46407558e2652b76ff89...,aae11a0f0bb5f6331768f92e456321d72b283d13492675...,1

In [5]:
domain.groups.create(name="Research Group", users=[4,3,1])
domain.groups.create(name="Diabetes Medical Ward", users=[3,1])
domain.groups.create(name="Cancer Research", users=[1,4])

{'msg': 'Group created successfully!'}

In [6]:
domain.groups.all(pandas=True)

   id                   name      users
0   1         Research Group  [4, 3, 1]
1   2  Diabetes Medical Ward     [3, 1]
2   3        Cancer Research     [1, 4]

In [7]:
print("Group Name: ", domain.groups[2].name)
print("Group Users: ", domain.groups[2].users)

Group Name:  Diabetes Medical Ward
Group Users:  [3, 1]

In [8]:
domain.groups.update(group_id=2, name="Heart Disease Research", users=[4,3,1])

{'msg': 'Group updated successfully!'}

In [9]:
assert domain.groups[2].name == "Heart Disease Research"
assert domain.groups[2].users == [4,3,1]

In [10]:
del domain.groups[2]

In [11]:
domain.groups.all(pandas=True)

   id             name      users
0   1   Research Group  [4, 3, 1]
1   3  Cancer Research     [1, 4]