In [1]:
from hagrid import cli, grammar

In [5]:
args = ["on", "docker"]
# args = []
verb = cli.get_launch_verb()
args = grammar.launch_shorthand_support(args=args)
args

('on docker', 'domain')

In [7]:
args = ["domain","on", "docker"]
# args = []
verb = cli.get_launch_verb()
args = grammar.launch_shorthand_support(args=args)
args

('domain', 'on', 'docker')

In [7]:
verb = cli.get_launch_verb()
args = cli.launch_shorthand_support(args=args, verb=verb)
grammar = cli.parse_grammar(args=tuple(args), verb=verb)
verb.load_grammar(grammar=grammar)
cmd = cli.create_launch_cmd(verb=verb, kwargs={}, ignore_docker_version_check=True)

                                             `
                                         `.+yys/.`
                                       ``/NMMMNNs`
                                    `./shNMMMMMMNs``    `..`
                                  `-smNMMNNMMMMMMN/.``......`
                                `.yNMMMMNmmmmNNMMm/.`....`
                              `:sdNMMMMMMNNNNddddds-`.`` `--. `
                           `.+dNNNNMMMMMMMMMNNNNmddohmh//hddy/.```..`
                          `-hNMMMMMMMMMMMMNNdmNNMNNdNNd:sdyoo+/++:..`
                        ../mMMMMMMMMMMMMMMNNmmmmNMNmNNmdmd/hNNNd+:`
                        `:mMNNMMMMMMMMMMMMNMNNmmmNNNNNdNNd/NMMMMm::
                       `:mMNNNMMMMMMMMMMMMMMMNNNNdNMNNmmNd:smMMmh//
                     ``/mMMMMMMMMMMMMMMMMMMMMMMNmdmNNMMNNNy/osoo/-`
                    `-sNMMMMMMMMMMMMMMMMMMMMMMMMNNmmMMMMNh-....`
                   `/dNMMMMMMMMMMMMMMMMMMMMMMMMMMMNNMMMNy.`
                ``.omNNMMMMMMMMMMMMNMMMMMMMNmmmmNNMMMMN+`
                `:hmNNMMMMMMMMMMMNo/ohNNNNho+os+-+hNys/`
                -mNNNNNNMMMMMMMMm+``-yNdd+/mMMMms.-:`
                .+dmNNNNMMMMMMNd:``:dNN+y`oMMMMMm-.`
                `+dmmmNNNmmmmy+.   `-+m/s/+MMMMm/--
               `+mmmhNy/-...```     ``-.-sosyys+/-`
            ``.smmmsoo``               .oh+-:/:.
          `.:odmdh/````             `.+d+``````
     ```/sydNdhy+.`              ``-sds.
    `:hdmhs::-````               `oNs.`
```.sdmh/``                    `-ym+`
 ``ssy+`                     `-yms.`
   ``                      `:hNy-``
   `                     `-yMN/```
                       `-yNhy-
                     `/yNd/`
                   `:dNMs``
                 `.+mNy/.`
              `.+hNMMs``
             `:dMMMMh.`
Launching a domain PyGrid node on port 8081!

  - TYPE: domain
  - NAME: on_docker
  - TAG: 93435e816d0c4c12222f840e10f8cdd0
  - PORT: 8081
  - DOCKER: n/a
  - TAIL: True

stty: stdin isn't a terminal

In [5]:
cmd

'cd /Users/andrewliamtrask/Dropbox/Laboratory/PySyft/packages/grid;DOMAIN_PORT=8081 TRAEFIK_TAG=87bb728d6c20b5e576b6017743810be1 DOMAIN_NAME="elegant_chomsky" NODE_TYPE=domain docker compose -p elegant_chomsky up --build'

In [1]:
import syft as sy
import pandas as pd

In [4]:
obj = sy.deserialize(sy.serialize({"asdf":3,"fdsa":4}))

In [7]:
obj

{'asdf': 3, 'fdsa': 4}

In [ ]:
node = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081...

In [ ]:
istat_data = pd.read_csv('../datasets/it - feb 2021.csv')[0:50000]

In [ ]:
istat_data = node.load_dataset(assets={"dec2020":istat_data}, 
                    name="iStat Trade Data - first 50K rows", 
                    description="""A collection of reports from Italy's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""")

In [3]:
sy.serialize(['a','b'])

data: "\n\026syft.lib.python.String\022\027\n\001a\022\022\n\020\327\220^\355A\263H\221\233\230iJ{\300\327 "
data: "\n\026syft.lib.python.String\022\027\n\001b\022\022\n\0208\306|U\363\340KO\213\0147P\243.\302)"
id {
  value: "\001\2406\"7pCw\263(U\365\333\212/\033"
}

In [10]:
node.datasets.all()

[{'id': b"\n\x16syft.lib.python.String\x12:\n$9a4c698b-978b-4bc5-a57b-2d6a590e622b\x12\x12\n\x10\xfaA\xa50\xe4\xdfNg\x85\xe3\xf6\x9d'\x18 u",
  'description': b"\n\x16syft.lib.python.String\x12\xa8\x01\n\x91\x01A collection of reports from Italy's statistics \n                    bureau about how much it thinks it imports and exports from other countries.\x12\x12\n\x10?\xa1\xa6\xf5\xeb\x16A\x9e\xad'\xb9\xc1\x8bv\xf0,",
  'tags': b'\n\x19syft.lib.python.list.List\x12\x14\x12\x12\n\x10.z\xc3\xbc!mE\x84\x9aX~\x1f\xae\xca1\xba',
  'data': b'\n\x19syft.lib.python.list.List\x12\xa3\x04\n\x8c\x04\n\x14syft.lib.python.Dict\x12\xf3\x03\n4\n\x16syft.lib.python.String\x12\x1a\n\x04name\x12\x12\n\x10\xf3\xe53\xfc)\x88Iy\xb7\x12XccmD\xeb\n2\n\x16syft.lib.python.String\x12\x18\n\x02id\x12\x12\n\x10\xda\xe5F=\xfb5N\xc0\xa9c\xb8\xf0\xdf\xdfT\x18\n5\n\x16syft.lib.python.String\x12\x1b\n\x05dtype\x12\x12\n\x10\xd6.\x83\xc0~WA?\xabe.\xa9S\xd8Q\xae\n5\n\x16syft.lib.python.String\x12\x1b\n\x05shape\x12\x12\n\x10\xe6(}"\xd7{C\x96\xab%\xad\xe3\x04\xf1\xff\xc2\x127\n\x16syft.lib.python.String\x12\x1d\n\x07dec2020\x12\x12\n\x10j\xcb\xdf\xcfX\xacM\xe0\x85\xf1+\xe8\xf8\xe0\x05\xb7\x12T\n\x16syft.lib.python.String\x12:\n$745fe11b-5718-4387-afbe-4d485ada83af\x12\x12\n\x10u\x8a2E\x19\x8dJ\xe1\xb5\xc5~\xd6\xdc\x8b\x9c~\x129\n\x16syft.lib.python.String\x12\x1f\n\tDataFrame\x12\x12\n\x10:\xd7\x13\x81\xf6\xa8H\x96\x953\xddK\xac\x83\xa8\x83\x12;\n\x16syft.lib.python.String\x12!\n\x0b(50000, 22)\x12\x12\n\x10;\xd4<$\xf9\xa8I(\xbb\xf4\x81\xa12\xd5\x04L\x1a\x12\n\x10\x9fT\x0ej\xb7\xeeI+\xa1G\x83\xf9\xa8\xcf\x0fM\x12\x12\n\x10\x17\x93\x08\xa2L\xc0O\xb8\x82\xa3\x9d,\x98)\xb6Q',
  'str_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10\x8em\x03\x17\xc6FMF\xa9:\x84\x174\x8bj\xf1',
  'name': b"\n\x16syft.lib.python.String\x127\n!iStat Trade Data - first 50K rows\x12\x12\n\x10\x05\x896~\xd8NC\x06\xb99\xdd\x8f\xa4uJ'",
  'blob_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10Q\xafU\xa5\x0f\x05Hc\xbc\xf0g\xf9\x81\xc9\x19\x83',
  'manifest': b'\n\x16syft.lib.python.String\x12\x14\x12\x12\n\x10\x19@>\xf1\x9b\x8eD\x80\x9a\xa2\xf2\xda\xaf+\xa1\x80'}]

In [16]:
ca.users.create(name="Andrew Trask",
                email="andrew@openmined.org",
                password="abc123")

Ignoring: user with email:andrew@openmined.org already exists

In [10]:
ca.users

In [12]:
ca.store

In [12]:
ca.requests.pandas

,Requested Object's tags,Reason,Request ID,Requested Object's ID,Requested Object's type
0,"[#feb2021, __getitem__, __eq__, __getitem__, _...",I'd like to know the sum total of cocoa moved ...,<UID: b6b0714a67e04deb8ab47007073c0651>,<UID: 4990764f1f0843399012d211f5edc27b>,

In [15]:
ca.requests[0].accept()

In [6]:
ca.users

In [3]:
d = ca.datasets[-1]

In [5]:
d.sample

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [24]:
ca.datasets[0]

In [6]:
# un = sy.login(email="info@openmined.org", password="changethis", port=8082)

In [4]:
# ca.users.update(user_id=1, name="Bob")
# un.users.update(user_id=1, name="Alice")

In [7]:
un.users.all(pandas=True)

,id,email,name,verify_key,role,groups
0,1,info@openmined.org,Alice,319dcebf3e86a43ab68d0d04cda50e345f50a8595c0be5...,Owner,[]

In [ ]:
# us = sy.login(email="info@openmined.org", password="changethis", port=8082)
# it = sy.login(email="info@openmined.org", password="changethis", port=8083)
# ne = sy.login(email="info@openmined.org", password="changethis", port=8084)

In [9]:
y = p + p

In [10]:
y.get()

[2021-06-30T16:06:51.320382+0000][CRITICAL][logger]][207] UnknownPrivateException has been triggered.

UnknownPrivateException: UnknownPrivateException has been triggered.