In [1]:
import syft as sy
import pandas as pd

In [2]:
node = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into uk... done!

In [3]:
raw_data = pd.read_csv('../datasets/it - feb 2021.csv')[0:50000]

/Users/andrewliamtrask/opt/anaconda3/envs/syft39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
dataset = Dataset(private_assets={"feb2021":raw_data}, 
                    name="iStat Trade Data - first 50K rows", 
                    description="""A collection of reports from Italy's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
                    arbitary="aasdfads",
                    public="asdfadsf",
                    metadata="asdfasdfasdf",
                    sample_data=raw_data[0:10]
                    )

# you get back a pointer but GC is disabled (becasue you called load)
istat_data = node.load_dataset(dataset)

In [ ]:
#print the pandas table of datasets
node.datasets

In [ ]:
# at least one of these 
dataset = node.datasets[0]
dataset = node.datasets['big-fancy-id']
dataset = node.datasets['name']
dataset = node.datasets[name="asdfasdfasdf"]

In [ ]:
dataset # should print a single-row pandas table with all the kwargs

In [ ]:
dataset.name
dataset.description
dataset.sample_data
dataset.arbitrary
dataset.public
dataset.private_assets # returns a dictionary with keys and pointers

In [ ]:
# returns a pointer to the remote private object
ptr = dataset.private_assets['feb2021']

In [ ]:
# do some analysis
result = pointer.sum()

In [ ]:
result.request(reason="i really want to see it")

In [ ]:
result.get()

In [ ]:
# and then get this whole thing in an integration test PROTO!!!

In [4]:
from syft.core.node.common.client_manager.dataset_api import Dataset

In [64]:
class Dataset():

    def __init__(self, private_assets, name, description, **public_metadata):

        # this information is PRIVATE and MANDATORY (but can be empty dict)
        self.private_assets:dict[str:any] = assets
        
        # this information is PUBLIC and MANDATORY
        self.name = name
        self.description = description
        
        # this information is PUBLIC and OPTIONAL  
        self.public_metadata:dict[str:any] = metadata
        
    @property
    def pandas(self):
        data = np.array([self.name, self.description, str(self.private_assets.keys())] + list(self.public_metadata.values())).reshape(1,-1)
        columns = ["name", "description", "assets"] + list(self.public_metadata.keys())
        return pd.DataFrame(data, columns=columns)
    
    def _repr_html_(self):
        return self.pandas._repr_html_()

        
d = Dataset(assets={"dec2020":istat_data}, 
                    name="iStat Trade Data", 
                    description="""A collection of reports from Italy's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
                    sample="""asdfasdf""")

TypeError: __init__() missing 1 required positional argument: 'private_assets'

In [62]:
d

In [33]:
import numpy as np

In [43]:
# initialize list of lists
# data = [['tom', 10], ['nick', 15], ['juli', 14]]

In [44]:
df._ht

,name,description,sample
0,iStat Trade Data - first 50K rows,A collection of reports from Italy's statistic...,asdfasdf

In [56]:
istat_data = node.load_dataset(assets={"dec2020":istat_data}, 
                    name="iStat Trade Data - first 50K rows", 
                    description="""A collection of reports from Italy's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
                    )

In [10]:
node.datasets

In [16]:
ca.users.create(name="Andrew Trask",
                email="andrew@openmined.org",
                password="abc123")

Ignoring: user with email:andrew@openmined.org already exists

In [10]:
ca.users

In [12]:
ca.store

In [12]:
ca.requests.pandas

,Requested Object's tags,Reason,Request ID,Requested Object's ID,Requested Object's type
0,"[#feb2021, __getitem__, __eq__, __getitem__, _...",I'd like to know the sum total of cocoa moved ...,<UID: b6b0714a67e04deb8ab47007073c0651>,<UID: 4990764f1f0843399012d211f5edc27b>,

In [15]:
ca.requests[0].accept()

In [6]:
ca.users

In [3]:
d = ca.datasets[-1]

In [5]:
d.sample

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [24]:
ca.datasets[0]

In [6]:
# un = sy.login(email="info@openmined.org", password="changethis", port=8082)

In [4]:
# ca.users.update(user_id=1, name="Bob")
# un.users.update(user_id=1, name="Alice")

In [7]:
un.users.all(pandas=True)

,id,email,name,verify_key,role,groups
0,1,info@openmined.org,Alice,319dcebf3e86a43ab68d0d04cda50e345f50a8595c0be5...,Owner,[]

In [ ]:
# us = sy.login(email="info@openmined.org", password="changethis", port=8082)
# it = sy.login(email="info@openmined.org", password="changethis", port=8083)
# ne = sy.login(email="info@openmined.org", password="changethis", port=8084)

In [9]:
y = p + p

In [10]:
y.get()

[2021-06-30T16:06:51.320382+0000][CRITICAL][logger]][207] UnknownPrivateException has been triggered.

UnknownPrivateException: UnknownPrivateException has been triggered.