In [1]:
import syft as sy
sy.requires(">=0.8,<0.8.1")

kj/filesystem-disk-unix.c++:1703: warning: PWD environment variable doesn't match current directory; pwd = /home/dk/Desktop/projects/PySyft

âœ… The installed version of syft==0.8.1b2 matches the requirement >=0.8 and the requirement <0.8.1

In [2]:
node = sy.orchestra.launch(name="test-domain-1", port=8080, dev_mode=True)

Starting test-domain-1 server on 0.0.0.0:8080

WARNING: private key is based on node name: test-domain-1 in dev_mode. Don't run this in production.
SQLite Store Path:
!open file:///tmp/7bca415d13ed1ec841f0d0aede098dbb.sqlite

INFO:     Started server process [65292]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://0.0.0.0:8080 (Press CTRL+C to quit)

INFO:     127.0.0.1:45162 - "GET /api/v1/new/metadata HTTP/1.1" 200 OK
INFO:     127.0.0.1:45162 - "POST /api/v1/new/login HTTP/1.1" 200 OK
INFO:     127.0.0.1:45162 - "GET /api/v1/new/api?verify_key=aec6ea4dfc049ceacaeeebc493167a88a200ddc367b1fa32da652444b635d21f HTTP/1.1" 200 OK
INFO:     127.0.0.1:45176 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42308 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:57302 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:39156 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:59248 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:45308 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49776 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42694 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:47838 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43882 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43898 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43904 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43920 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43930 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43932 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43936 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43946 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:43950 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42000 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42010 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42020 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42032 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42042 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42054 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49498 - "GET /api/v1/new/metadata HTTP/1.1" 200 OK
INFO:     127.0.0.1:49498 - "POST /api/v1/new/login HTTP/1.1" 200 OK
INFO:     127.0.0.1:49498 - "GET /api/v1/new/api?verify_key=d10d13f61c17f0281a32db4b4cc4a44769073f75166527e7cb38dfdb01c650c5 HTTP/1.1" 200 OK
INFO:     127.0.0.1:49512 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:44748 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42898 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:46084 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:46086 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:57244 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK

In [3]:
domain_client = node.login(email="info@openmined.org", password="changethis")

In [7]:
domain_client.notifications

In [5]:
from syft import MessageStatus
messages = domain_client.api.services.messages.get_all_for_status(MessageStatus.UNDELIVERED)
messages

[syft.service.message.messages.Message, syft.service.message.messages.Message]

In [6]:
assert len(messages) == 2

In [10]:
delivered_messages = domain_client.api.services.messages.get_all_for_status(status=sy.MessageStatus.DELIVERED)
delivered_messages

[]

In [9]:
assert len(delivered_messages) == 0

In [11]:
undelivered_messages = domain_client.api.services.messages.get_all_for_status(status=sy.MessageStatus.UNDELIVERED)
undelivered_messages

[syft.service.message.messages.Message, syft.service.message.messages.Message]

In [12]:
assert len(undelivered_messages) == 2

In [13]:
project_message = None
for message in messages:
    if issubclass(message.linked_obj.object_type, sy.service.project.project.Project):
        project_message = message

In [14]:
assert project_message is not None

In [15]:
project = project_message.link
project

syft.service.project.project.Project

In [16]:
assert len(project.requests) == 1

In [17]:
request = project.requests[0]
request

syft.service.request.request.Request

In [18]:
func = request.changes[0].link
func

syft.service.code.user_code.UserCode

In [19]:
print(func.code)

@sy.syft_function(input_policy=sy.ExactMatch(trade_data=mock),
                  output_policy=sy.SingleExecutionExactOutput())
def sum_trade_value_mil(trade_data):
    import pandas as pd
    from opendp.mod import enable_features
    enable_features('contrib')
    from opendp.measurements import make_base_laplace
    aggregate = 0.
    base_lap = make_base_laplace(scale=5.)
    noise = base_lap(aggregate)

    df = trade_data
    total = df["Trade Value (US$)"].sum()
    return (float(total / 1_000_000), float(noise))

In [20]:
func.node_uid

In [21]:
func.assets

[syft.service.dataset.dataset.Asset]

In [22]:
asset = func.assets[0]
asset

syft.service.dataset.dataset.Asset

In [23]:
assert len(asset.data_subjects) == 1

In [24]:
mock = asset.mock
mock

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
10,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Bangladesh,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,227222,0
11,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Haiti,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,14748,0
12,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Guatemala,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1314,0
13,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Iraq,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1825,0
14,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Israel,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1063627,0
15,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Italy,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,8359327,0
16,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Jordan,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,16858,0
17,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Rep. of Moldova,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,29897,0
18,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Nigeria,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,22235,0
19,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Slovenia,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1328,0

In [25]:
assert mock.shape == (10, 22)

In [26]:
data = asset.data
data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [27]:
assert data.shape == (10, 22)

In [28]:
op = func.output_policy_type
op

syft.service.policy.policy.OutputPolicyExecuteOnce

In [29]:
print(op.policy_code)

class Policy(SyftObject):
    # version
    __canonical_name__ = "Policy"
    __version__ = SYFT_OBJECT_VERSION_1

    id: UID
    init_kwargs: Dict[Any, Any] = {}

    def __init__(self, *args, **kwargs) -> None:
        if "init_kwargs" in kwargs:
            init_kwargs = kwargs["init_kwargs"]
            del kwargs["init_kwargs"]
        else:
            init_kwargs = deepcopy(kwargs)
            if "id" in init_kwargs:
                del init_kwargs["id"]
        super().__init__(init_kwargs=init_kwargs, *args, **kwargs)

    @classmethod
    @property
    def policy_code(cls) -> str:
        mro = reversed(cls.mro())
        op_code = ""
        for klass in mro:
            if "Policy" in klass.__name__:
                op_code += inspect.getsource(klass)
                op_code += "\n"
        return op_code

    def public_state() -> None:
        raise NotImplementedError

    @property
    def valid(self) -> Union[SyftSuccess, SyftError]:
        return SyftSuccess(message="Policy is valid.")

class OutputPolicy(Policy):
    # version
    __canonical_name__ = "OutputPolicy"
    __version__ = SYFT_OBJECT_VERSION_1

    output_history: List[OutputHistory] = []
    output_kwargs: List[str] = []
    node_uid: Optional[UID]

    def apply_output(
        self,
        context: NodeServiceContext,
        outputs: Any,
    ) -> Any:
        output_uids = filter_only_uids(outputs)
        if isinstance(output_uids, UID):
            output_uids = [output_uids]
        history = OutputHistory(
            output_time=DateTime.now(),
            outputs=output_uids,
            executing_user_verify_key=context.credentials,
        )
        self.output_history.append(history)
        return outputs

    @property
    def outputs(self) -> List[str]:
        return self.output_kwargs

@serializable()
class OutputPolicyExecuteCount(OutputPolicy):
    __canonical_name__ = "OutputPolicyExecuteCount"
    __version__ = SYFT_OBJECT_VERSION_1

    count: int = 0
    limit: int

    def apply_output(
        self,
        context: NodeServiceContext,
        outputs: Any,
    ) -> Optional[Any]:
        if self.count < self.limit:
            super().apply_output(context, outputs)
            self.count += 1
            return outputs
        return None

    @property
    def valid(self) -> Union[SyftSuccess, SyftError]:
        is_valid = self.count < self.limit
        if is_valid:
            return SyftSuccess(
                message=f"Policy is still valid. count: {self.count} < limit: {self.limit}"
            )
        return SyftError(
            message=f"Policy is no longer valid. count: {self.count} >= limit: {self.limit}"
        )

    def public_state(self) -> None:
        return {"limit": self.limit, "count": self.count}

@serializable()
class OutputPolicyExecuteOnce(OutputPolicyExecuteCount):
    __canonical_name__ = "OutputPolicyExecuteOnce"
    __version__ = SYFT_OBJECT_VERSION_1

    limit: int = 1

In [30]:
print(func.raw_code)

@sy.syft_function(input_policy=sy.ExactMatch(trade_data=mock),
                  output_policy=sy.SingleExecutionExactOutput())
def sum_trade_value_mil(trade_data):
    import pandas as pd
    from opendp.mod import enable_features
    enable_features('contrib')
    from opendp.measurements import make_base_laplace
    aggregate = 0.
    base_lap = make_base_laplace(scale=5.)
    noise = base_lap(aggregate)

    df = trade_data
    total = df["Trade Value (US$)"].sum()
    return (float(total / 1_000_000), float(noise))

In [36]:
users_function = func.unsafe_function
users_function

WARNING: This code was submitted by a User and could be UNSAFE.

In [37]:
mock_result = users_function(trade_data=mock)
mock_result

(9.738381, -7.856983054636732)

In [32]:
real_result = users_function(trade_data=data)
real_result

(2.037066, -2.018815533795275)

In [33]:
result = request.accept_by_depositing_result(real_result)
result

<class 'syft.service.response.SyftSuccess'>: Request 47912d858f704d7db4f7781684e13ff3 changes applied

In [34]:
assert isinstance(result, sy.SyftSuccess)

In [ ]:
if node.node_type.value == "python":
    node.land()