In [1]:
import pandas as pd
import syft as sy
import numpy as np
sy.logger.remove()

### Logging into the domain Nodes

In [2]:
# We will login into Canada and Italy domain node
ca = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)
it = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8082)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!
Connecting to http://localhost:8082... done! 	 Logging into italy... done!

In [3]:
ca.datasets

In [4]:
it.datasets

In [5]:
ca_data = ca.datasets[0]['feb2020-40k']
it_data = it.datasets[0]['feb2020-40k']

In [7]:
result = ca_data + it_data

MPCTensor.shape=(40000, 3)
	 .child[0] = <ShareTensorPointer -> canada:9fba5b0ca55244cc87e41ff75ed2ea15>
	 .child[1] = <ShareTensorPointer -> italy:740bcfce31d84ae184239de32081a454>
MPCTensor.shape=(40000, 3)
	 .child[0] = <ShareTensorPointer -> canada:2f3fe38b34df4fde9b01bcba479dcf15>
	 .child[1] = <ShareTensorPointer -> italy:3655d2736e9c4c3c8ae0bc5be41925dc>
C.N.0
C.N.1
C.N.1.A
<built-in function add>
add

In [8]:
result.request("I'd like to see the result of the sum of imports/exports across italy and canada.")

In [9]:
result.get()

array([[      2,     526,   11184],
       [      2,    1178,  251483],
       [      2,    1254, 1809585],
       ...,
       [      3,    1218,     295],
       [      3,     673,    3012],
       [      3,     861,    2887]])