# Data Owners Start Notebook

## Set Your Variables

In [23]:
# edit the IP of your Domain node into this variable
HOST_IP="52.157.8.193"

In [24]:
# edit the IP for the Network node into this variable
NETWORK_IP="20.121.101.41"

In [45]:
# the email and password are default on startup

In [46]:
ADMIN_EMAIL="info@openmined.org"
ADMIN_PASSWORD="changethis"

## import syft

In [82]:
# install syft if we are on google colab
import sys, os; os.system("pip install 'git+https://github.com/OpenMined/PySyft@dev#egg=syft&subdirectory=packages/syft'") if "google.colab" in sys.modules else ""
import syft as sy

## Connect to a Network

In [55]:
network_client = sy.login(url=NETWORK_IP)

Connecting to 13.83.1.243... done! 	 Logging into admiring_bostrom... as GUEST...done!

**Warning**: The syft version on your system and the node are different.
Version on your system: 0.7.0-beta.9
Version on the node: 0.7.0-beta.8

In [56]:
# see what domains are on a network

In [57]:
network_client.domains

## Log into your Domain

In [37]:
try:
    domain_client = sy.login(url=HOST_IP, email=ADMIN_EMAIL, password=ADMIN_PASSWORD)
except Exception:
    print("Unable to connect, did you set the HOST_IP variable above?")

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to 52.157.8.193... done! 	 Logging into modest_hutter... done!

**Warning**: The syft version on your system and the node are different.
Version on your system: 0.7.0-beta.9
Version on the node: 0.7.0-beta.8

In [7]:
# what can a domain client do?

In [58]:
domain_client.store

[array([1, 2, 1], dtype=int32)

 (The data printed above is synthetic - it's an imitation of the real data.)]

## Join the Network

In [60]:
domain_client.join_network(network_client)

ðŸ”Œ <DomainClient - modest_hutter: <UID: 451739f8fb054fab9c83f6422156481e>> successfully connected to the VPN: http://13.83.1.243:80/api/v1

In [67]:
network_client.domains

In [63]:
domain_client.vpn_status()

{'status': 'ok',
 'connected': True,
 'host': {'ip': '100.64.0.2',
  'hostname': 'modest_hutter',
  'network': 'omnet',
  'os': 'linux',
  'connection_info': '-',
  'connection_status': 'n/a',
  'connection_type': 'n/a'},
 'peers': [{'ip': '100.64.0.1',
   'hostname': 'admiring_bostrom',
   'network': 'omnet',
   'os': 'linux',
   'connection_info': 'active; direct 13.83.1.243:41641; offline, tx 1388 rx 1384',
   'connection_status': 'active',
   'connection_type': 'direct'}]}

## Create a Dataset

In [66]:
example_data = [1, 2, 3]
example_tensor = sy.Tensor(example_data)

In [10]:
(example_tensor, example_tensor.public_shape)

(Tensor(child=[1 2 3]), (3,))

In [11]:
# make your tensor private with min, max and data subjects

In [12]:
private_tensor = example_tensor.private(
    min_val=0, max_val=3, entities=[sy.core.adp.entity.Entity("0")]
).tag("example_data")

In [13]:
# create a dataset

In [14]:
domain_client.load_dataset(
    assets={"tensor_1": private_tensor},
    name="My Private Data",
    description=("A collection of medical images"),
    skip_checks=True,
)

Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [15]:
domain_client.datasets

## Create a Data Scientist Account

In [17]:
data_scientist_details = {
    "name": "Samantha Carter",
    "email": "sam@sg1.net",
    "password": "stargate",
    "budget": 9999,
}

In [18]:
domain_client.users.create(**data_scientist_details)

In [19]:
print("Please give these details to the data scientist:")
login_details = {}
login_details["url"] = HOST_IP
login_details["name"] = data_scientist_details["name"]
login_details["email"] = data_scientist_details["email"]
login_details["password"] = data_scientist_details["password"]
print(login_details)

Please give these details to the data scientist:
{'url': '52.157.8.193', 'name': 'Samantha Carter', 'email': 'sam@sg1.net', 'password': 'stargate'}