In [1]:
import syft as sy

In [4]:
network_client=sy.login(url="20.245.107.41", port=80)

Connecting to 20.245.107.41... done! 	 Logging into inspiring_hotz... as GUEST...done!

In [5]:
network_client.domains

In [8]:
network_client.domains[0].datasets

In [9]:
domain_proxy = network_client.domains[0]

In [10]:
domain_client = domain_proxy.login(email="jimmy@openmined.org", password="jimmyplschangethis")

Logged in to teo as jimmy@openmined.org

In [12]:
domain_client.datasets[0]["data"]

array([655, 318, 839,  57, 531, 503, 397, 112, 697, 860, 675,  53, 330,
       199, 171, 369, 578,  94,  21, 115, 464, 536, 327, 685, 788, 979,
       351, 692, 724, 582, 685, 298, 816, 779, 320, 249, 521, 949, 911,
       194, 206, 967, 643, 248, 854, 258, 882, 542, 261, 479, 776, 712,
       540, 394, 451, 519, 895, 591, 748, 587, 815,  89, 945, 904, 979,
       471, 389, 161, 233, 394, 689,  35, 475, 321, 330, 185, 722, 192,
       759,  57, 475,  28, 631, 657,  28, 804, 355, 758,  52, 716, 325,
       865, 651, 826, 100, 489, 291, 563, 609, 716])

 (The data printed above is synthetic - it's an imitation of the real data.)