In [1]:
import syft as sy
import pandas as pd

# uk = sy.login(url="http://54.242.39.40", email="info@openmined.org", password="changethis", port=80)

In [2]:
node = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!

In [3]:
uk_data = pd.read_csv('../datasets/uk - dec 2020.csv')[0:50000]

/Users/andrewliamtrask/opt/anaconda3/envs/syft39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
d = node.load_dataset(assets={"dec2020":uk_data}, 
                    name="UK Trade Data - first 50K rows", 
                    description="""A collection of reports from UK's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""")

In [7]:
node.datasets.all()

[{'id': b'\n\x16syft.lib.python.String\x12:\n$a19cef2b-708c-4806-bf34-94b9673dbae5\x12\x12\n\x10\xa8\xe9\xa09\x10\x89B\xe1\x80\x01\x97\xf1]*\xf4\xda',
  'manifest': b'\n\x16syft.lib.python.String\x12\x14\x12\x12\n\x10!\xbb\xaf\xa0E\x8cG2\x9d\xe2\t\xccO\t\xeb%',
  'name': b'\n\x16syft.lib.python.String\x124\n\x1eUK Trade Data - first 50K rows\x12\x12\n\x10)\xb4N\xb2\x90XNv\xb3b\xea?f\xc7\xbf\xca',
  'data': b'\n\x19syft.lib.python.list.List\x12\xa3\x04\n\x8c\x04\n\x14syft.lib.python.Dict\x12\xf3\x03\n4\n\x16syft.lib.python.String\x12\x1a\n\x04name\x12\x12\n\x10\x02\xe4\xc6\x88\x9e\xd8N\x15\xa9\x890lZ\x11q\x02\n2\n\x16syft.lib.python.String\x12\x18\n\x02id\x12\x12\n\x10\xefH{\x85\xfc\xe7H\xe1\xb0\xb1B%\xb0\xb4\x8a&\n5\n\x16syft.lib.python.String\x12\x1b\n\x05dtype\x12\x12\n\x10z\xeaA\xfeF1MN\x8eH\xd7y\xb8&5\xf7\n5\n\x16syft.lib.python.String\x12\x1b\n\x05shape\x12\x12\n\x10\x83T\xaa9\x81\xaaA\x89\x99Y\xa3\xec\x8e\xba2\xbb\x127\n\x16syft.lib.python.String\x12\x1d\n\x07dec2020\x12\x12\n\x10b\xf1\x83\xad\xeb\xe0AD\xb3\x18G\xbab\xd3\xe1^\x12T\n\x16syft.lib.python.String\x12:\n$0a225f9b-fc70-4dc3-b6a6-30f3132c66e0\x12\x12\n\x10n\xb3OD\xeb\xb4F?\x8c\x12$j\xd2\x12\xff\xa8\x129\n\x16syft.lib.python.String\x12\x1f\n\tDataFrame\x12\x12\n\x10aO\x8b\xcf\x04\xebL\x04\x8fc\n\xff\xe4\xad\x9e \x12;\n\x16syft.lib.python.String\x12!\n\x0b(50000, 22)\x12\x12\n\x10\xbe\x0f\x19\xf0b{MD\xb2\x02.\x9d\x96\x92\xb8\xb6\x1a\x12\n\x10\xab]h!\x1eBEy\x8d+sl \xe7\xfe\xb7\x12\x12\n\x10\xeb\xd0\x95\xf5\xeeD@t\x91\xf3\x06\xa3\xf8\x19F\xd0',
  'description': b"\n\x16syft.lib.python.String\x12\xa5\x01\n\x8e\x01A collection of reports from UK's statistics \n                    bureau about how much it thinks it imports and exports from other countries.\x12\x12\n\x10\xc7\xe5\x89;\x85\xc4K$\x9f\x86M\x15\xb8\xde!\xb6",
  'tags': b'\n\x19syft.lib.python.list.List\x12\x14\x12\x12\n\x10\xbe\xb97\xa6\x03\x8cL\x80\x96\xda\x05T\x18e\x9b\xa1',
  'str_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10\xe9\x7f\xaa\xbe\xa0OH\xa0\x91B\x02\x9be\x10\xa1\x8b',
  'blob_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10\x0f*+;\x0fQAz\xa5\xa6\xde\xbe\xb6\xef\xbb\xac'},
 {'id': b'\n\x16syft.lib.python.String\x12:\n$82458322-092c-47d2-9ced-16c5ba64aee1\x12\x12\n\x10\xdd\xe9\x8c\xd2\x9c\xfbJc\x9ctO\x9c\xab\xeds\xb8',
  'manifest': b'\n\x16syft.lib.python.String\x12\x14\x12\x12\n\x10N\x93\x00\xd9\xa0\xd5L\xef\x96l\x9bko\x9e\x12%',
  'blob_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10\x07\xcfx\xdc\xf6\xfaC\xaf\x93CM\x80\xb9"\x84.',
  'tags': b'\n\x19syft.lib.python.list.List\x12\x14\x12\x12\n\x10$\xdd\xb9\x9a\x03\xf1Fs\xb1%X\xafC\x1f\x92\xc1',
  'data': b'\n\x19syft.lib.python.list.List\x12\xa3\x04\n\x8c\x04\n\x14syft.lib.python.Dict\x12\xf3\x03\n4\n\x16syft.lib.python.String\x12\x1a\n\x04name\x12\x12\n\x10\x99\x1a\xda\x1a\x93\x8dG\xa1\x83\xe7&\x08\x9c\xa0\x10[\n2\n\x16syft.lib.python.String\x12\x18\n\x02id\x12\x12\n\x10<\x80\x9c?\xd0\x0bGQ\xb6\xe88*\xf4\xcc\x1d\xb4\n5\n\x16syft.lib.python.String\x12\x1b\n\x05dtype\x12\x12\n\x10\x00Wf\xebA\x9cE\xaf\xb3\xb5\x8d\xcb\x1c@|H\n5\n\x16syft.lib.python.String\x12\x1b\n\x05shape\x12\x12\n\x10\xa5\xb1\x9fRI\x9eM\xa4\xa1T-^\xbd\xc5\\\x19\x127\n\x16syft.lib.python.String\x12\x1d\n\x07dec2020\x12\x12\n\x10m\x98\xbb=Z\x11E\x98\xa9\x00\xe5\xabP$\x0bu\x12T\n\x16syft.lib.python.String\x12:\n$8f37da3e-e449-49a7-bc45-db4278aec195\x12\x12\n\x10\xdad\xc4\xe7q\xb6B?\xa8\x7f\xc6\xa65JN}\x129\n\x16syft.lib.python.String\x12\x1f\n\tDataFrame\x12\x12\n\x10"w\xa4\xeb6\xc2M\xf3\x937\xd7\xb4`5S\x17\x12;\n\x16syft.lib.python.String\x12!\n\x0b(50000, 22)\x12\x12\n\x104g@\x17\'\xe6F\xb6\x80\xdf\xcca\x0f\xc7"\xae\x1a\x12\n\x10\x1c\xc6\x8e\x11\xcd\xbdM\xd4\x9e\xe5\xa0@\xf1C\xdb\x02\x12\x12\n\x10\x9eX\xd0aV\xf9Ft\x99\x9b\xde2\xc5\xf3\x91\xf5',
  'description': b"\n\x16syft.lib.python.String\x12\xa5\x01\n\x8e\x01A collection of reports from UK's statistics \n                    bureau about how much it thinks it imports and exports from other countries.\x12\x12\n\x10\xb4\xaa\xee\xf8P\xceO\x19\x9a\xbc\xfa\xcdz~wh",
  'str_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10\xec\x8a]\xa3r\xa7B\x95\x80\xc3\x10}R\xbfnf',
  'name': b'\n\x16syft.lib.python.String\x124\n\x1eUK Trade Data - first 50K rows\x12\x12\n\x10K\xc5\xd2\xb2\xedVCh\x9c\xa5`;\xc4\xd37\x82'},
 {'str_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x100\xe7\xe3b\x03\xa5N_\xaa\xe0[f\xad\x99\x9a\xeb',
  'name': b'\n\x16syft.lib.python.String\x124\n\x1eUK Trade Data - first 50K rows\x12\x12\n\x10i\xd4\xc6\xefc\x0bE5\x81\xf7\x0e\x86\r\x98\x00\x03',
  'description': b"\n\x16syft.lib.python.String\x12\xa5\x01\n\x8e\x01A collection of reports from UK's statistics \n                    bureau about how much it thinks it imports and exports from other countries.\x12\x12\n\x10%\xd8\xd5C_XI>\xa4\xaco\xbe\xa3\xe3b\xc0",
  'data': b"\n\x19syft.lib.python.list.List\x12\xa3\x04\n\x8c\x04\n\x14syft.lib.python.Dict\x12\xf3\x03\n4\n\x16syft.lib.python.String\x12\x1a\n\x04name\x12\x12\n\x10\xba\x1e\x04\x9e|\xbcG/\xb4\xa23k\xc5\xe6\xa3\xb3\n2\n\x16syft.lib.python.String\x12\x18\n\x02id\x12\x12\n\x10rp]+\x9bUE\xc9\x88\xc6\x8f'0\xaaUf\n5\n\x16syft.lib.python.String\x12\x1b\n\x05dtype\x12\x12\n\x10\xea!\x7f\x0e\xd4\x93J!\x90\xd2m\x1aN\xff\x9c\xe4\n5\n\x16syft.lib.python.String\x12\x1b\n\x05shape\x12\x12\n\x10\xa6\x06\xe5\xbf\xeflAo\xb1\xb1\xe94\x01\xb0\x84@\x127\n\x16syft.lib.python.String\x12\x1d\n\x07dec2020\x12\x12\n\x10x\xff\xca\x08w\xd0K8\x8c\xbe\xf2\x0f\xef5c7\x12T\n\x16syft.lib.python.String\x12:\n$ac98540d-085b-49ee-b4c0-ca3289bf687e\x12\x12\n\x10\t\x9f \xfa\xbf@CR\xa1\xe1\x87\x9e\xed7>!\x129\n\x16syft.lib.python.String\x12\x1f\n\tDataFrame\x12\x12\n\x10ZR\x1eTc\x99H\x9a\x90L\x10\xd8\xbd\xc8e/\x12;\n\x16syft.lib.python.String\x12!\n\x0b(50000, 22)\x12\x12\n\x10k\x14\x05m\t\xadGo\x94\x7f\x85+N#k%\x1a\x12\n\x10~\x01\xd4\xa3my@e\xa6\xaf\xd3;t\xeaSG\x12\x12\n\x10\xbd\xa3\xac\x95\xa9\xfeA\xc5\xa9w\xe0k)<q\x8f",
  'id': b'\n\x16syft.lib.python.String\x12:\n$497bb024-60f8-405f-84dd-00b60791ec9f\x12\x12\n\x10\x81\x16P\x00v\x8eE\x03\xb3S\x0bg\x08\xb2\x86\x17',
  'blob_metadata': b"\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10H\x80n\xe8c'Du\xb9\x1d\xe9\xa5\x95Z\xfa\xaa",
  'manifest': b'\n\x16syft.lib.python.String\x12\x14\x12\x12\n\x10[\xab\xc8\x9d[\xe5M_\x83\x87*\x14\xcd\xd1\x034',
  'tags': b'\n\x19syft.lib.python.list.List\x12\x14\x12\x12\n\x10?\xda\xe2]\xcbeH\x9e\xac\xc4XO>gd\\'},
 {'blob_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10,.+?\x06\xe9O$\xaf\xc2\x8d>\xd1\x8a\xa6i',
  'data': b'\n\x19syft.lib.python.list.List\x12\xa3\x04\n\x8c\x04\n\x14syft.lib.python.Dict\x12\xf3\x03\n4\n\x16syft.lib.python.String\x12\x1a\n\x04name\x12\x12\n\x10\xf3\x141\xc7\x11\x0eB\x98\xac\xa7We\xed:\xf0\xbd\n2\n\x16syft.lib.python.String\x12\x18\n\x02id\x12\x12\n\x10W\x17\xff\xcb\xe0\x9bC\xa4\xa2"\x0eV\x93#\xdcI\n5\n\x16syft.lib.python.String\x12\x1b\n\x05dtype\x12\x12\n\x103>\xd83\xba!I\xe2\xac\x07\xc4\xbbN\xfb\xeaq\n5\n\x16syft.lib.python.String\x12\x1b\n\x05shape\x12\x12\n\x10\xe6\x03u\xff@\x8dK\x10\xb0=\xb2\xd6z\xe6\xbb0\x127\n\x16syft.lib.python.String\x12\x1d\n\x07dec2020\x12\x12\n\x107\xfc[\\\x19\x80F\xd2\xbf\xc2\x8a\xc9k\'l\xa4\x12T\n\x16syft.lib.python.String\x12:\n$9a3ad8be-75f6-457c-ac79-180b7aa87f91\x12\x12\n\x10\xdb\xffL\xdf\xd0\xa6A\xc2\xb5\xa3OA\x14\xc5\xcan\x129\n\x16syft.lib.python.String\x12\x1f\n\tDataFrame\x12\x12\n\x10&s\xdd\xa2\x1e\x19D/\x8bnG\x1f\x99\xb2\xf9[\x12;\n\x16syft.lib.python.String\x12!\n\x0b(50000, 22)\x12\x12\n\x10d\xb5\xfat\x8cBE\x8c\x9a%+\xbd\'UD)\x1a\x12\n\x10\xedH\xdf\xfb\xc4\xc0M\x01\x82\x86\xaf\xfb\x93\xb5\xbe\xef\x12\x12\n\x10(\x0ei\x7f\xfd\xa4H\x97\xa9\xf9\xa8\x97\xce\xf5\x1a\x15',
  'str_metadata': b'\n\x14syft.lib.python.Dict\x12\x14\x1a\x12\n\x10F~g\x07\x1d\x01Av\xb4Q\xcd\x94\xb6i\t\x11',
  'description': b"\n\x16syft.lib.python.String\x12\xa5\x01\n\x8e\x01A collection of reports from UK's statistics \n                    bureau about how much it thinks it imports and exports from other countries.\x12\x12\n\x10\x8c\xa0\x1b\x95\xa8OCl\x9a\x03\xc3,\x0c\xfc\x93\xdf",
  'name': b'\n\x16syft.lib.python.String\x124\n\x1eUK Trade Data - first 50K rows\x12\x12\n\x10\xf7\xa9c\x89\x91\xcfF\xa8\x9b\xdf\x96l(\xab\xa2]',
  'tags': b'\n\x19syft.lib.python.list.List\x12\x14\x12\x12\n\x10\x8a\x80\xe8\xcb\xae\x03K\xd8\x9c\xde\x95\xc3;Y+:',
  'manifest': b'\n\x16syft.lib.python.String\x12\x14\x12\x12\n\x10\x0e&ZCafA\xcf\xa2\xcb\xa6\xd4\xf6O\xf4\xaf',
  'id': b'\n\x16syft.lib.python.String\x12:\n$4d767655-1bcd-44a3-a9e6-c8e9f1362de2\x12\x12\n\x10=\xbfr2\xf7\x1dD=\x890W0\xa7 \xf7Z'}]

In [16]:
ca.users.create(name="Andrew Trask",
                email="andrew@openmined.org",
                password="abc123")

Ignoring: user with email:andrew@openmined.org already exists

In [10]:
ca.users

In [12]:
ca.store

In [12]:
ca.requests.pandas

,Requested Object's tags,Reason,Request ID,Requested Object's ID,Requested Object's type
0,"[#feb2021, __getitem__, __eq__, __getitem__, _...",I'd like to know the sum total of cocoa moved ...,<UID: b6b0714a67e04deb8ab47007073c0651>,<UID: 4990764f1f0843399012d211f5edc27b>,

In [15]:
ca.requests[0].accept()

In [6]:
ca.users

In [3]:
d = ca.datasets[-1]

In [5]:
d.sample

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [24]:
ca.datasets[0]

In [6]:
# un = sy.login(email="info@openmined.org", password="changethis", port=8082)

In [4]:
# ca.users.update(user_id=1, name="Bob")
# un.users.update(user_id=1, name="Alice")

In [7]:
un.users.all(pandas=True)

,id,email,name,verify_key,role,groups
0,1,info@openmined.org,Alice,319dcebf3e86a43ab68d0d04cda50e345f50a8595c0be5...,Owner,[]

In [ ]:
# us = sy.login(email="info@openmined.org", password="changethis", port=8082)
# it = sy.login(email="info@openmined.org", password="changethis", port=8083)
# ne = sy.login(email="info@openmined.org", password="changethis", port=8084)

In [9]:
y = p + p

In [10]:
y.get()

[2021-06-30T16:06:51.320382+0000][CRITICAL][logger]][207] UnknownPrivateException has been triggered.

UnknownPrivateException: UnknownPrivateException has been triggered.