In [1]:
import syft as sy
import pandas as pd

# uk = sy.login(url="http://54.242.39.40", email="info@openmined.org", password="changethis", port=80)
uk = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into Canada... done!

In [2]:
import torch as th

In [3]:
x = th.Tensor([1, 2, 3])
y = th.Tensor([1, 2, 3])
x_out = x.send(uk)
print(x_out)
y_out = y.send(uk)
print(y_out)

<syft.proxy.torch.TensorPointer object at 0x7f795812e070>
<syft.proxy.torch.TensorPointer object at 0x7f78a5dd3ee0>

In [4]:
uk.store

In [6]:
uk.store[0]

In [13]:
uk_data = pd.read_csv('../datasets/uk - dec 2020.csv')[0:50000]

/Users/andrewliamtrask/opt/anaconda3/envs/syft39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
d = uk.load_dataset(assets={"dec2020":uk_data}, 
                    name="UK Trade Data - first 50K rows", 
                    description="""A collection of reports from UK's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""")

In [15]:
uk.datasets

In [16]:
ca.users.create(name="Andrew Trask",
                email="andrew@openmined.org",
                password="abc123")

Ignoring: user with email:andrew@openmined.org already exists

In [10]:
ca.users

In [12]:
ca.store

In [12]:
ca.requests.pandas

,Requested Object's tags,Reason,Request ID,Requested Object's ID,Requested Object's type
0,"[#feb2021, __getitem__, __eq__, __getitem__, _...",I'd like to know the sum total of cocoa moved ...,<UID: b6b0714a67e04deb8ab47007073c0651>,<UID: 4990764f1f0843399012d211f5edc27b>,

In [15]:
ca.requests[0].accept()

In [6]:
ca.users

In [3]:
d = ca.datasets[-1]

In [5]:
d.sample

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [24]:
ca.datasets[0]

In [6]:
# un = sy.login(email="info@openmined.org", password="changethis", port=8082)

In [4]:
# ca.users.update(user_id=1, name="Bob")
# un.users.update(user_id=1, name="Alice")

In [7]:
un.users.all(pandas=True)

,id,email,name,verify_key,role,groups
0,1,info@openmined.org,Alice,319dcebf3e86a43ab68d0d04cda50e345f50a8595c0be5...,Owner,[]

In [ ]:
# us = sy.login(email="info@openmined.org", password="changethis", port=8082)
# it = sy.login(email="info@openmined.org", password="changethis", port=8083)
# ne = sy.login(email="info@openmined.org", password="changethis", port=8084)

In [9]:
y = p + p

In [10]:
y.get()

[2021-06-30T16:06:51.320382+0000][CRITICAL][logger]][207] UnknownPrivateException has been triggered.

UnknownPrivateException: UnknownPrivateException has been triggered.