### Trade Demo

#### Goal: 
- Load the trade data for the country `Canada`
- Launch a domain node for canada
- Login into the domain node
- Upload `Canada's` trade on the domain node
- Create a Data Scientist User
- Accept/Decline any requests from the DS

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd

canada = pd.read_csv("../datasets/ca - feb 2021.csv")

/Users/andrewliamtrask/opt/anaconda3/envs/syft39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Step 1: Load the dataset

We have trade data for the country, which has provided data from Feb 2021. They key colums are:

- Commodity Code: the official code of that type of good
- Reporter: the country claiming the import/export value
- Partner: the country being claimed about
- Trade Flow: the direction of the goods being reported about (imports, exports, etc)
- Trade Value (US$): the declared USD value of the good

Let's have a quick look at the top five rows of the dataset.

In [2]:
canada.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

### Step 2: Spin up the Domain Node

As the main requirement of this demo is to perform analysis on the Canada's trade dataset. So, we need to spin up a domain node for Canada.

Assuming you have [Docker](https://www.docker.com/) installed and configured with >=8GB of RAM, navigate to PySyft/packages/hagrid and run the following commands in separate terminals (can be done at the same time):


```bash
# install hagrid cli tool
pip install -e .
```

```bash
hagrid launch Canada domain
```

<div class="alert alert-block alert-info">
    <b>Quick Tip:</b> Don't run this now, but later when you want to stop these nodes, you can simply run the same argument with the "stop" command. So from the PySyft/grid directory you would run. Note that these commands will delete the database by default. Add the flag "--keep_db=True" to keep the database around. Also note that simply killing the thread created by ./start is often insufficient to actually stop all nodes. Run the ./stop script instead. To stop the nodes listed above (and delete their databases) run:

```bash
hagrid land Canada
```
</div>

### Step 3: Login into the Domain

In [3]:
import syft as sy

# Let's login into the domain node
domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!

In [4]:
canada.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

### Step 4: Upload Canada's trade data on the domain

In [5]:
# Great !! we're logged in. Let's upload the dataset.
# For, simplicity we will upload the first 10000 rows of the dataset.

domain_node.load_dataset(
    assets={"feb2020": canada[:10000]},
    name="Canada Trade Data - First 10000 rows",
    description="""A collection of reports from Canada's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

Cool !!! The dataset was successfully uploaded onto the domain.

In [6]:
# Now, let's check datasets available on the domain.
domain_node.datasets

### Step 5: Create a Data Scientist User

In [7]:
# # Now, let's create a user on the domain. This user will act as the Data Scientist.
# # Let's assume the Data Scientist, has provided their name and email.
# domain_node.users.create(
#     name="Sheldon Cooper",
#     email="sheldon@caltech.edu",
#     password="bazinga"
# )

```
Great !!! We were successfully able to create a new user. 
Now, let's move to the Data Scientist notebook, to check out their experience.
```

### Step 6: Accept/Decline Requests

In [9]:
# Let's check if there are any requests pending for approval.
domain_node.requests

In [10]:
# Looks like the DS wants to download the whole dataset. We cannot allow that.
# Let's select and deny this request.
domain_node.requests[0].deny()

In [11]:
# Now, if we check there are no more pending requests.
domain_node.requests

In [12]:
# Some time has passed..... Let's check again
domain_node.requests

In [14]:
# Let's select the request and approve it.
domain_node.requests[0].accept()
domain_node.requests[1].accept()

In [15]:
# Now if we check the request queue, it should be empty.
domain_node.requests

[]

In [36]:
# Let's check again.....
domain_node.requests

,Requested Object's tags,Reason,Request ID,Requested Object's ID,Requested Object's type
0,"[#feb2020, __getitem__, __eq__, __and__, __and...",Goods value exported to Egypt,<UID: 053ec56cb4b44b1986bc316b10f365cf>,<UID: 713bbad976b240a8a66d86b2a4dfc8a2>,
1,"[#feb2020, __getitem__, __eq__, __and__, __and...",Goods value Re-Exported to Egypt,<UID: 8d08aa0238f8452bb06f27f7dea8896d>,<UID: ca6de063fefb41088845e14e068b6239>,

In [37]:
# There are two more requests
domain_node.requests[0].approve()
domain_node.requests[1].approve()