In [ ]:
import pandas as pd
import syft as sy
import numpy as np
sy.logger.remove()

### Logging into the domain Nodes

In [2]:
# We will login into Canada and Italy domain node
ca = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)
it = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8082)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!
Connecting to http://localhost:8082... done! 	 Logging into italy... done!

In [3]:
ca.datasets

In [4]:
it.datasets

In [5]:
ca.privacy_budget

200.0

In [6]:
it.privacy_budget

200.0

In [8]:
ca_data = ca.datasets[-1]['Canada Trade']
it_data = it.datasets[-1]['Italy Trade']

In [10]:
# this should be impossible - we're adding data that's located on two different computers
result = ca_data + it_data

In [11]:
public_result = result.publish(sigma=2)

In [12]:
ca.privacy_budget

106.96564873038481

In [13]:
it.privacy_budget

106.96564873038481

In [14]:
public_result.get()

array([-2,  2, 18,  1,  0, 16,  0,  7,  2, -2], dtype=int32)