# PyGrid Client Worker API

### Import Libs

In [1]:
from syft.grid.client.client import connect
from syft.grid.client.grid_connection import GridHTTPConnection
from syft.core.node.domain.client import DomainClient

import syft as sy
import torch as th

sy.VERBOSE = False

### Connect performing authentication process

In [2]:
domain = connect(
    url="http://localhost:5000", # Domain Address
    credentials={"email":"admin@email.com", "password":"pwd123"},
    conn_type= GridHTTPConnection, # HTTP Connection Protocol
    client_type=DomainClient) # Domain Client type

### Create a new workers/environments

In [3]:
domain.workers.create(
    name="Diabetes Research Environment",
    address="http://255.255.255.255",
    memory="16gb",
    instance="EC2",
    gpu="Tesla V100")

domain.workers.create(
    name="Breast Cancer Research Environment",
    address="http://255.255.255.255",
    memory="32gb",
    instance="EC2",
    gpu="Tesla V100")

domain.workers.create(
    name="Dementia Research Environment",
    address="http://255.255.255.255",
    memory="32gb",
    instance="EC2",
    gpu="Tesla V100")

{'msg': 'Worker created succesfully!'}

### Get all Environments

In [3]:
domain.workers.all(pandas=True)

,id,name,address,syft_address,memory,instance,gpu
0,1,Diabetes Research Environment,http://255.255.255.255,None,16gb,EC2,Tesla V100
1,2,Breast Cancer Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
2,3,Dementia Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100

### Get Specific Environment

In [4]:
print("Worker name: ", domain.workers[1].name)
print("Worker GPU: ", domain.workers[1].gpu)
print("Worker Instance: ", domain.workers[1].instance)
print("Worker Memory: ", domain.workers[1].memory)

Worker name:  Diabetes Research Environment
Worker GPU:  Tesla V100
Worker Instance:  EC2
Worker Memory:  16gb

### Update Environment

In [5]:
domain.workers.update(worker_id=1, name="Testing Rename Environment", memory="32gb")

{'msg': 'Worker was updated succesfully!'}

In [6]:
assert domain.workers[1].name == "Testing Rename Environment"
assert domain.workers[1].memory == "32gb"

### Delete Environment

In [7]:
del domain.workers[1]

In [8]:
domain.workers.all(pandas=True)

,id,name,address,syft_address,memory,instance,gpu
0,2,Breast Cancer Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
1,3,Dementia Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100