## Initial Setup

In [1]:
import syft as sy
import torch as th

# create owner login
sy.login().setup(email="owner@myorg.com", password="owerpwd", domain_name="Domain")

### Log in as Owner

In [2]:
domain = sy.login(email="owner@myorg.com", password="owerpwd")

### Upload a Dataset

In [9]:
dataset = domain.datasets.create('diabetes-dataset.tar.gz')

AttributeError: 'Dataset' object has no attribute 'data'

In [11]:
domain.datasets

In [12]:
domain.datasets[0]

IndexError: list index out of range

### Create a Data Compliance Officer

In [16]:
domain.roles.all(pandas=True)

,id,name,can_triage_requests,can_edit_settings,can_create_users,can_create_groups,can_edit_roles,can_manage_infrastructure,can_upload_data
0,1,User,False,False,False,False,False,False,False
1,2,Compliance Officer,True,False,False,False,False,False,False
2,3,Administrator,True,True,True,True,False,False,True
3,4,Owner,True,True,True,True,True,True,True
4,5,User,False,False,False,False,False,False,False
5,6,Compliance Officer,True,False,False,False,False,False,False
6,7,Administrator,True,True,True,True,False,False,True
7,8,Owner,True,True,True,True,True,True,True

In [14]:
domain.users.create(
    email="compliance@myorg.com", password="pwd123", role="Compliance Officer"
)

In [15]:
domain.users.all(pandas=True)

,id,email,private_key,verify_key,role,groups
0,1,owner@myorg.com,a3c739037e5ab24bc9231b67c3d71826d26d276df41edc...,e72bd0adb2abf23f4ba07684ebcfa99a9d95f7884dd157...,4,[]
1,2,compliance@myorg.com,2dcf7bb7654fb00818f5d2356043bc70fd7dbc01312db2...,218b1519d009dfd99f0d25725bdec41140a6a719a17f2a...,2,[]