## Initial Setup

In [1]:
import syft as sy
import torch as th

# create owner login
# sy.login().setup(email="owner@myorg.com", password="owerpwd")

### Log in as Owner

In [2]:
domain = sy.login(email="owner@myorg.com", password="owerpwd")

[2021-05-10T00:26:43.702374+0100][CRITICAL][logger]][11637] Skipping torchvision.torchvision.transforms.functional.adjust_sharpness not supported in 0.8.1
[2021-05-10T00:26:43.703261+0100][CRITICAL][logger]][11637] Skipping torchvision.torchvision.transforms.functional.autocontrast not supported in 0.8.1
[2021-05-10T00:26:43.703829+0100][CRITICAL][logger]][11637] Skipping torchvision.torchvision.transforms.functional.equalize not supported in 0.8.1
[2021-05-10T00:26:43.704589+0100][CRITICAL][logger]][11637] Skipping torchvision.torchvision.transforms.functional.invert not supported in 0.8.1
[2021-05-10T00:26:43.705102+0100][CRITICAL][logger]][11637] Skipping torchvision.torchvision.transforms.functional.posterize not supported in 0.8.1
[2021-05-10T00:26:43.705817+0100][CRITICAL][logger]][11637] Skipping torchvision.torchvision.transforms.functional.solarize not supported in 0.8.1

### Upload a Dataset

In [3]:
# dataset = domain.datasets.create('diabetes-dataset.tar.gz')

In [4]:
domain.datasets

In [6]:
domain.datasets[0]

### Create a Data Compliance Officer

In [7]:
domain.roles.all(pandas=True)

,id,name,can_triage_requests,can_edit_settings,can_create_users,can_create_groups,can_edit_roles,can_manage_infrastructure,can_upload_data
0,1,User,False,False,False,False,False,False,False
1,2,Compliance Officer,True,False,False,False,False,False,False
2,3,Administrator,True,True,True,True,False,False,True
3,4,Owner,True,True,True,True,True,True,True

In [8]:
domain.users.create(
    email="compliance@myorg.com", password="pwd123", role="Compliance Officer"
)

INFO:root:User created successfully!

In [9]:
domain.users.all(pandas=True)

,id,email,private_key,verify_key,role,groups
0,1,owner@myorg.com,49f43fa90a8964282315b9e050368d754044dc34faa82f...,4aaf3fef6acdf6711df2623449f46e31a8920529ac9a48...,4,[]
1,2,compliance@myorg.com,a4dcafb7f3fb7a7393dcc6e60fc7390e900c613bc6e3fc...,c88a96977023d4fb90000bee94a2876d77a78b12add13f...,2,[]