In [2]:
import pandas as pd
import syft as sy

### Loading the dataset

In [5]:
italy_data = pd.read_csv("../datasets/it - feb 2021.csv")[0:40000]
italy_data.head()

/Users/atrask/opt/anaconda3/envs/syft/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Australia,NaN,940510,Chandeliers and other electric ceiling or wall...,0,NaN,NaN,6.0,1899,0
1,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Indonesia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33600.0,134879,0
2,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33127.0,314410,0
3,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292990,Nitrogen-function compounds; n.e.s. in chapter...,0,NaN,NaN,4.0,4142,0
4,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Malaysia,NaN,293040,Organo-sulphur compounds; methionine,0,NaN,NaN,51000.0,104889,0

### Logging into the domain

In [4]:
# Let's login into the domain
it = sy.login(email="info@openmined.org", password="changethis", port=8082)

Connecting to http://localhost:8082... done! 	 Logging into italy... done!

### Upload the dataset to Domain node

In [9]:
# We will upload only the first 40k rows and three columns
# All these three columns are of `int` type
sampled_italy_dataset = sy.Tensor(italy_data[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values)
sampled_italy_dataset.public_shape = sampled_italy_dataset.shape

In [10]:
it.load_dataset(
    assets={"feb2020-40k": sampled_italy_dataset},
    name="Italy Trade Data - First 40000 rows",
    description="""A collection of reports from iStat's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [11]:
it.datasets

### Create a Data Scientist User

In [12]:
it.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget":10
    }
)

### Accept/Deny Requests to the Domain

In [15]:
it.requests.pandas

In [16]:
it.requests[-1].accept()