In [4]:
import pandas as pd
import sklearn as sk

In [3]:
canada_data = pd.read_csv("../../trade_demo/datasets/ca - feb 2021.csv")[0:40000]
canada_data.head()

/Users/atrask/opt/anaconda3/envs/syft/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

# Popular Data Types

- Int
- Float
- String
    - LEVEL
        - blog/document level - Limited vocabulary of entries (labels)
        - word level - Limited vocabulary of words
        - char level vocabulary of characters
    - Type
        - ordinal
        - one hot
        - hash

In [68]:
column = canada_data.values[:,0:1]

In [72]:
column

array([['HS'],
       ['HS'],
       ['HS'],
       ...,
       ['HS'],
       ['HS'],
       ['HS']], dtype=object)

In [ ]:
# def encode_column_of_strings(column):

In [71]:
# enc.fit_transform(column)

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
enc = OrdinalEncoder()

In [29]:
canada_data.values

array([['HS', 2021, 202102, ..., nan, 9285, 0],
       ['HS', 2021, 202102, ..., 0.0, 116604, 0],
       ['HS', 2021, 202102, ..., 0.0, 1495175, 0],
       ...,
       ['HS', 2021, 202102, ..., nan, 280, 0],
       ['HS', 2021, 202102, ..., nan, 2987, 0],
       ['HS', 2021, 202102, ..., nan, 2863, 0]], dtype=object)

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [66]:
enc.categories_

[array(['HS'], dtype=object),
 array([2021], dtype=object),
 array([202102], dtype=object),
 array(['February 2021'], dtype=object),
 array([0, 2, 4, 6], dtype=object),
 array([0, 1], dtype=object),
 array([1, 2], dtype=object),
 array(['Exports', 'Imports'], dtype=object),
 array([124], dtype=object),
 array(['Canada'], dtype=object)]