# Data Upload Notebook|

In [1]:
import pandas as pd
import syft as sy
import numpy as np
from syft.core.adp.entity import Entity

In [2]:
data = pd.read_csv("../../trade_demo/datasets/it - feb 2021.csv")[0:100]
data.head()

/Users/andrewliamtrask/opt/anaconda3/envs/syft/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Australia,NaN,940510,Chandeliers and other electric ceiling or wall...,0,NaN,NaN,6.0,1899,0
1,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Indonesia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33600.0,134879,0
2,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33127.0,314410,0
3,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292990,Nitrogen-function compounds; n.e.s. in chapter...,0,NaN,NaN,4.0,4142,0
4,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Malaysia,NaN,293040,Organo-sulphur compounds; methionine,0,NaN,NaN,51000.0,104889,0

In [3]:
istat = sy.login(email="info@openmined.org",
             password="changethis",
             url="http://40.118.226.167/",
             port=80)

Connecting to http://40.118.226.167/... done! 	 Logging into istat... done!

In [5]:
# slice data we want to upload for analysis
data_batch = ((np.array(list(data['Trade Value (US$)'])) / 10000)[0:10]).astype(np.int32)

# slice references to real-world entities whose privacy we want to protect
trade_partners = ((list(data['Partner'])))[0:10]

In [6]:
# create "Entity" objects so that the Domain node's Privacy Accountant will know which 
# data subjects occur in which parts of the dataset
entities = list()
for i in range(len(trade_partners)):
    entities.append(Entity(name=trade_partners[i]))

In [7]:
# create dataset
sampled_italy_dataset = sy.Tensor(data_batch)

# annotate public shape (this will go away in a version soon but for now we have to manually annotate this)
sampled_italy_dataset.public_shape = sampled_italy_dataset.shape

# create privacy annotated dataset
sampled_italy_dataset = sampled_italy_dataset.private(0, 3, entity=entities[0]).tag("trade_flow")

In [8]:
istat.load_dataset(
    assets={"feb2020-10": sampled_italy_dataset},
    name="Italy Trade Data - First few rows",
    description="""A collection of reports from iStat's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [10]:
istat.load_dataset(
    assets={"feb2020-10 NO Auto-DP": data_batch},
    name="Italy Trade Data - First few rows",
    description="""A collection of reports from iStat's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [11]:
istat.datasets