In [1]:
import syft as sy
import numpy as np
from syft.core.adp.entity import Entity

## To Do

Download a dataset from Domain

Convert all string columns to unique integers ---> could use hashes

In [15]:
import pandas as pd

In [59]:
canada = pd.read_csv("../../trade_demo/datasets/ca - feb 2021.csv")
italy = pd.read_csv("../../trade_demo/datasets/it - feb 2021.csv")

In [17]:
import hashlib
from math import isnan, nan

hash_db = {}
hash_db[nan] = nan

def convert_string(s: str, digits: int=15):
    """Maps a string to a unique hash using SHA, converts it to a hash or an int"""
    if type(s) is str:
        new_hash = int(hashlib.sha256(s.encode("utf-8")).hexdigest(), 16) % 10**digits
        hash_db[s] = new_hash
        return new_hash
    else:
        return s

In [68]:
for col in canada.columns:
    print(col)
    canada[col] = canada[col].map(lambda x: convert_string(x))
for col in italy.columns:
    print(col)
    italy[col] = italy[col].map(lambda x: convert_string(x))

Classification
Year
Period
Period Desc.
Aggregate Level
Is Leaf Code
Trade Flow Code
Trade Flow
Reporter Code
Reporter
Reporter ISO
Partner Code
Partner
Partner ISO
Commodity Code
Commodity
Qty Unit Code
Qty Unit
Qty
Netweight (kg)
Trade Value (US$)
Flag
Classification
Year
Period
Period Desc.
Aggregate Level
Is Leaf Code
Trade Flow Code
Trade Flow
Reporter Code
Reporter
Reporter ISO
Partner Code
Partner
Partner ISO
Commodity Code
Commodity
Qty Unit Code
Qty Unit
Qty
Netweight (kg)
Trade Value (US$)
Flag

In [6]:
# np_dataset = canada.values

In [55]:
# np_dataset.astype(float)

In [56]:
# key_list = list(hash_db.keys())
# val_list = list(hash_db.values())
# position = val_list.index(109781654799833)
# print(key_list[position])

In [76]:
required_columns = ["Classification", "Commodity Code", "Commodity", "Trade Value (US$)", "Partner", "Trade Flow"]

canada_dataset = canada[required_columns]
italy_dataset = italy[required_columns]

In [77]:
canada_dataset.columns

Index(['Classification', 'Commodity Code', 'Commodity', 'Trade Value (US$)',
       'Partner', 'Trade Flow'],
      dtype='object')

In [78]:
italy_dataset.columns

Index(['Classification', 'Commodity Code', 'Commodity', 'Trade Value (US$)',
       'Partner', 'Trade Flow'],
      dtype='object')

In [79]:
canada_dataset = canada_dataset[canada_dataset.Partner == convert_string("Italy")]
italy_dataset = italy_dataset[italy_dataset.Partner == convert_string("Canada")]

In [81]:
result = pd.merge(canada_dataset, italy_dataset, on="Commodity Code")

In [83]:
result.head()

,Classification_x,Commodity Code,Commodity_x,Trade Value (US$)_x,Partner_x,Trade Flow_x,Classification_y,Commodity_y,Trade Value (US$)_y,Partner_y,Trade Flow_y
0,109781654799833,628614662158183,4.036672e+14,8359327,656091199571420,740486968595500,109781654799833,4.036672e+14,2709,524003986429176,740486968595500
1,109781654799833,628614662158183,4.036672e+14,8359327,656091199571420,740486968595500,109781654799833,4.036672e+14,7427990,524003986429176,78789458366718
2,109781654799833,628614662158183,4.036672e+14,26887,656091199571420,78789458366718,109781654799833,4.036672e+14,2709,524003986429176,740486968595500
3,109781654799833,628614662158183,4.036672e+14,26887,656091199571420,78789458366718,109781654799833,4.036672e+14,7427990,524003986429176,78789458366718
4,109781654799833,901412511046831,7.389983e+14,57241,656091199571420,740486968595500,109781654799833,7.389983e+14,6714,524003986429176,740486968595500

In [84]:
np_result = result.values

In [88]:
np_canada = canada.values

In [89]:
np_italy = italy.values

In [92]:
canada_dataset.head()

,Classification,Commodity Code,Commodity,Trade Value (US$),Partner,Trade Flow
15,109781654799833,628614662158183,4.036672e+14,8359327,656091199571420,740486968595500
23,109781654799833,901412511046831,7.389983e+14,57241,656091199571420,740486968595500
27,109781654799833,984804865638746,5.250002e+14,725768,656091199571420,740486968595500
199,109781654799833,483770876653875,2.233012e+14,290211,656091199571420,740486968595500
206,109781654799833,248974717806256,7.214179e+14,279931,656091199571420,740486968595500

In [93]:
italy_dataset.head()

,Classification,Commodity Code,Commodity,Trade Value (US$),Partner,Trade Flow
16,109781654799833,293359,9.097268e+14,56820,524003986429176,740486968595500
29,109781654799833,940510,2.618874e+14,20972,524003986429176,740486968595500
41,109781654799833,940520,3.383195e+14,15507,524003986429176,740486968595500
52,109781654799833,940540,3.071675e+14,40719,524003986429176,740486968595500
70,109781654799833,940560,6.090155e+13,2486,524003986429176,740486968595500

In [96]:
required_columns_index = [canada.columns.get_loc(col_name) for col_name in required_columns]