## Party 2 - Facebook's team in Menlo Park

In [21]:
import syft as sy
import numpy as np
sy.logger.remove()

## Dataset Creation

In [22]:
training_data_fb = np.array([
    [1,0,1],
    [1,1,1]]
)

training_targets_fb = np.array([[1,1]]).T

## Logging into the domain

In [23]:
# Let's login into the domain
fb = sy.login(email="info@openmined.org", password="changethis", port=8082)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to localhost... done! 	 Logging into facebook... done!

## Upload the dataset to Domain node

In [24]:
#DP metadata Addition
training_data_fb = sy.Tensor(training_data_fb).private(
    min_val=0,
    max_val=1,
    entities=["Rasswanth"] * training_data_fb.shape[0],
    ndept=True
)
training_targets_fb = sy.Tensor(training_targets_fb).private(
    min_val=0,
    max_val=1,
    entities=["Rasswanth"] * training_targets_fb.shape[0],
    ndept=True
)

In [25]:
# Upload a private dataset to the Domain object, as the root owner

fb.load_dataset(
    assets={
        "training_data":training_data_fb,
        "training_targets":training_targets_fb
    },
    name="Our training data for XOR networks!",
    description="Collected on Jan 27 2022"
)

Dataset is uploaded successfully !!! ðŸŽ‰

Run `<your client variable>.datasets` to see your new dataset loaded into your machine!

In [26]:
fb.datasets

### Create a Data Scientist User

In [27]:
#change budget before demo
fb.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget":9_999_999
    }
)

In [28]:
fb.users

### Accept/Deny Requests to the Domain

In [29]:
fb.requests.pandas

Empty DataFrame
Columns: []
Index: []

In [30]:
# fb.requests[-1].accept()