## Party 1 - OpenMined's team in the UK

In [11]:
import syft as sy
import numpy as np
sy.logger.remove()

## Dataset Creation

In [12]:
training_data_om = np.array([
    [0, 0, 1],
    [0, 1, 1]]
)
                        
training_targets_om = np.array([[0, 0]]).T

## Logging into the domain

In [13]:
# Let's login into the domain
om = sy.login(email="info@openmined.org", password="changethis", port=8081)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to localhost... done! 	 Logging into openmined... done!

## Upload the dataset to Domain node

In [14]:
#DP metadata Addition
training_data_om = sy.Tensor(training_data_om).private(
    min_val=0,
    max_val=1,
    entities=["Rasswanth"] * training_data_om.shape[0],
    ndept=True
)
training_targets_om = sy.Tensor(training_targets_om).private(
    min_val=0,
    max_val=1,
    entities=["Rasswanth"] * training_targets_om.shape[0],
    ndept=True
)

In [15]:
# Upload a private dataset to the Domain object, as the root owner

om.load_dataset(
    assets={
        "training_data":training_data_om,
        "training_targets":training_targets_om
    },
    name="Our training data for XOR networks!",
    description="Collected on Jan 27 2022"
)

Dataset is uploaded successfully !!! ðŸŽ‰

Run `<your client variable>.datasets` to see your new dataset loaded into your machine!

In [16]:
om.datasets

### Create a Data Scientist User

In [17]:
#change budget before demo
om.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget":9_999_999
    }
)

failing to create user UnknownPrivateException has been triggered.
Ignoring: user with email:sheldon@caltech.edu already exists

In [18]:
om.users

### Accept/Deny Requests to the Domain

In [19]:
om.requests.pandas

Empty DataFrame
Columns: []
Index: []

In [20]:
# om.requests[-1].accept()