In [2]:
import pandas as pd
import syft as sy

### Loading the dataset

In [8]:
canada_data = pd.read_csv("../datasets/ca - feb 2021.csv")[0:40000]
canada_data.head()

/Users/atrask/opt/anaconda3/envs/syft/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

### Logging into the domain

In [5]:
# Let's login into the domain
ca = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!

### Upload the dataset to Domain node

In [11]:
# We will upload only the first 40k rows and three columns
# All these three columns are of `int` type
sampled_canada_dataset = sy.Tensor(canada_data[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values)
sampled_canada_dataset.public_shape = sampled_canada_dataset.shape

In [13]:
ca.load_dataset(
    assets={"feb2020-40k": sampled_canada_dataset},
    name="Canada Trade Data - First 40000 rows",
    description="""A collection of reports from Canada's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [15]:
ca.datasets

### Create a Data Scientist User

In [20]:
ca.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget":10
    }
)

### Accept/Deny Requests to the Domain

In [15]:
ca.requests.pandas

In [16]:
ca.requests[-1].accept()