# Cleaning up messy data

## Install

In [1]:
SYFT_VERSION = ">=0.8.1b0,<0.9"
package_string = f'"syft{SYFT_VERSION}"'
# !pip install {package_string} -f https://whls.blob.core.windows.net/unstable/index.html -q

In [2]:
import syft as sy
sy.requires(SYFT_VERSION)

kj/filesystem-disk-unix.c++:1703: warning: PWD environment variable doesn't match current directory; pwd = /Users/koen/workspace/PySyft

✅ The installed version of syft==0.8.1b2 matches the requirement >=0.8.1b0 and the requirement <0.9

In [3]:
node = sy.orchestra.launch(name="pandas-test-domain-1", reset=True)

SQLite Store Path:
!open file:///var/folders/q1/ryq93kwj055dlbpngxv1c7z40000gn/T/281e55cb3425360e464682cfb4672fcb.sqlite

# Data owner: Upload data

In [4]:
root_domain_client = node.login(email="info@openmined.org", password="changethis")

## Load data

In [5]:
# The usual preamble
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from syft.service.project.project import Project
from syft.util.util import autocache, PANDAS_DATA

# Make the graphs a bit prettier, and bigger
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 5)
plt.rcParams['font.family'] = 'sans-serif'

# This is necessary to show lots of columns in pandas 0.12. 
# Not necessary in pandas 0.13.
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

One of the main problems with messy data is: how do you know if it's messy or not?

We're going to use the NYC 311 service request dataset again here, since it's big and a bit unwieldy.

## Create mock data

In [6]:
service_requests = pd.read_csv(autocache(f"{PANDAS_DATA}/311-service-requests.csv"), dtype='unicode')

In [7]:
service_requests.head(100)

   Unique Key            Created Date             Closed Date Agency                              Agency Name           Complaint Type                    Descriptor        Location Type Incident Zip       Incident Address       Street Name       Cross Street 1                    Cross Street 2 Intersection Street 1 Intersection Street 2  Address Type           City Landmark Facility Type    Status                Due Date Resolution Action Updated Date Community Board    Borough X Coordinate (State Plane) Y Coordinate (State Plane) Park Facility Name Park Borough  School Name School Number School Region  School Code School Phone Number School Address  School City School State   School Zip School Not Found School or Citywide Complaint Vehicle Type Taxi Company Borough Taxi Pick Up Location Bridge Highway Name Bridge Highway Direction Road Ramp Bridge Highway Segment Garage Lot Name Ferry Direction Ferry Terminal Name            Latitude           Longitude                                  Location
0    26589651  10/31/2013 02:08:41 AM                     NaN   NYPD          New York City Police Department  Noise - Street/Sidewalk                  Loud Talking      Street/Sidewalk        11432       90-03 169 STREET        169 STREET            90 AVENUE                         91 AVENUE                   NaN                   NaN       ADDRESS        JAMAICA      NaN      Precinct  Assigned  10/31/2013 10:08:41 AM         10/31/2013 02:35:17 AM       12 QUEENS     QUEENS                    1042027                     197389        Unspecified       QUEENS  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.70827532593202  -73.79160395779721   (40.70827532593202, -73.79160395779721)
1    26593698  10/31/2013 02:01:04 AM                     NaN   NYPD          New York City Police Department          Illegal Parking  Commercial Overnight Parking      Street/Sidewalk        11378              58 AVENUE         58 AVENUE             58 PLACE                         59 STREET                   NaN                   NaN     BLOCKFACE        MASPETH      NaN      Precinct      Open  10/31/2013 10:01:04 AM                            NaN       05 QUEENS     QUEENS                    1009349                     201984        Unspecified       QUEENS  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN  40.721040535628305  -73.90945306791765  (40.721040535628305, -73.90945306791765)
2    26594139  10/31/2013 02:00:24 AM  10/31/2013 02:40:32 AM   NYPD          New York City Police Department       Noise - Commercial              Loud Music/Party  Club/Bar/Restaurant        10032          4060 BROADWAY          BROADWAY      WEST 171 STREET                   WEST 172 STREET                   NaN                   NaN       ADDRESS       NEW YORK      NaN      Precinct    Closed  10/31/2013 10:00:24 AM         10/31/2013 02:39:42 AM    12 MANHATTAN  MANHATTAN                    1001088                     246531        Unspecified    MANHATTAN  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.84332975466513  -73.93914371913482   (40.84332975466513, -73.93914371913482)
3    26595721  10/31/2013 01:56:23 AM  10/31/2013 02:21:48 AM   NYPD          New York City Police Department          Noise - Vehicle                Car/Truck Horn      Street/Sidewalk        10023         WEST 72 STREET    WEST 72 STREET      COLUMBUS AVENUE                  AMSTERDAM AVENUE                   NaN                   NaN     BLOCKFACE       NEW YORK      NaN      Precinct    Closed  10/31/2013 09:56:23 AM         10/31/2013 02:21:10 AM    07 MANHATTAN  MANHATTAN                     989730                     222727        Unspecified    MANHATTAN  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN    40.7780087446372  -73.98021349023975    (40.7780087446372, -73.98021349023975)
4    26590930  10/31/2013 01:53:44 AM                     NaN  DOHMH  Department of Health and Mental Hygiene                   Rodent  Condition Attracting Rodents           Vacant Lot        10027        WEST 124 STREET   WEST 124 STREET         LENOX AVENUE  ADAM CLAYTON POWELL JR BOULEVARD                   NaN                   NaN     BLOCKFACE       NEW YORK      NaN           NaN   Pending  11/30/2013 01:53:44 AM         10/31/2013 01:59:54 AM    10 MANHATTAN  MANHATTAN                     998815                     233545        Unspecified    MANHATTAN  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.80769092704951  -73.94738703491433   (40.80769092704951, -73.94738703491433)
..        ...                     ...                     ...    ...                                      ...                      ...                           ...                  ...          ...                    ...               ...                  ...                               ...                   ...                   ...           ...            ...      ...           ...       ...                     ...                            ...             ...        ...                        ...                        ...                ...          ...          ...           ...           ...          ...                 ...            ...          ...          ...          ...              ...                          ...          ...                  ...                   ...                 ...                      ...       ...                    ...             ...             ...                 ...                 ...                 ...                                       ...
95   26592691  10/30/2013 11:36:44 PM  10/31/2013 01:05:44 AM   NYPD          New York City Police Department       Noise - Commercial              Loud Music/Party     Store/Commercial        10005         55 WALL STREET       WALL STREET       WILLIAM STREET                    HANOVER STREET                   NaN                   NaN       ADDRESS       NEW YORK      NaN      Precinct    Closed  10/31/2013 07:36:44 AM         10/31/2013 01:05:44 AM    01 MANHATTAN  MANHATTAN                     981709                     196561        Unspecified    MANHATTAN  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.70619093472265  -74.00916484564914   (40.70619093472265, -74.00916484564914)
96   26593487  10/30/2013 11:34:49 PM                     NaN   NYPD          New York City Police Department              Panhandling                           NaN      Street/Sidewalk        11418  135-16 JAMAICA AVENUE    JAMAICA AVENUE  METROPOLITAN AVENUE               VAN WYCK EXPRESSWAY                   NaN                   NaN       ADDRESS  RICHMOND HILL      NaN      Precinct      Open  10/31/2013 07:34:49 AM                            NaN       09 QUEENS     QUEENS                    1034900                     195238        Unspecified       QUEENS  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.70241501845674  -73.81732645592662   (40.70241501845674, -73.81732645592662)
97   26595761  10/30/2013 11:33:36 PM                     NaN   NYPD          New York City Police Department          Noise - Vehicle                Car/Truck Horn      Street/Sidewalk        10458  2995 BOTANICAL SQUARE  BOTANICAL SQUARE                 BEND                               NaN                   NaN                   NaN       ADDRESS          BRONX      NaN      Precinct  Assigned  10/31/2013 07:33:36 AM         10/31/2013 01:14:48 AM        07 BRONX      BRONX                    1016994                     255432        Unspecified        BRONX  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.86771566456841  -73.88161246880681   (40.86771566456841, -73.88161246880681)
98   26595305  10/30/2013 11:32:25 PM  10/31/2013 01:43:13 AM   NYPD          New York City Police Department       Noise - Commercial              Loud Music/Party  Club/Bar/Restaurant        10003                    NaN               NaN                  NaN                               NaN         SECOND AVENUE      EAST   14 STREET  INTERSECTION       NEW YORK      NaN      Precinct    Closed  10/31/2013 07:32:25 AM         10/31/2013 01:43:13 AM    03 MANHATTAN  MANHATTAN                     988424                     206091        Unspecified    MANHATTAN  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.73234787144493  -73.98493936163591   (40.73234787144493, -73.98493936163591)
99   26591850  10/30/2013 11:31:58 PM                     NaN   NYPD          New York City Police Department       Noise - Commercial              Loud Music/Party  Club/Bar/Restaurant        10002      165 LUDLOW STREET     LUDLOW STREET       STANTON STREET               EAST HOUSTON STREET                   NaN                   NaN       ADDRESS       NEW YORK      NaN      Precinct  Assigned  10/31/2013 07:31:58 AM         10/31/2013 12:00:08 AM    03 MANHATTAN  MANHATTAN                     987679                     202152        Unspecified    MANHATTAN  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN   40.72153659575849   -73.9876294797857    (40.72153659575849, -73.9876294797857)

[100 rows x 52 columns]

In [8]:
rows_with_dashes = service_requests['Incident Zip'].str.contains('-').fillna(False)
service_requests[rows_with_dashes]

      Unique Key            Created Date             Closed Date Agency                     Agency Name      Complaint Type         Descriptor Location Type Incident Zip        Incident Address         Street Name Cross Street 1 Cross Street 2 Intersection Street 1 Intersection Street 2 Address Type        City Landmark Facility Type    Status                Due Date Resolution Action Updated Date Community Board      Borough X Coordinate (State Plane) Y Coordinate (State Plane) Park Facility Name Park Borough  School Name School Number School Region  School Code School Phone Number School Address  School City School State   School Zip School Not Found School or Citywide Complaint Vehicle Type Taxi Company Borough Taxi Pick Up Location Bridge Highway Name Bridge Highway Direction Road Ramp Bridge Highway Segment Garage Lot Name Ferry Direction Ferry Terminal Name Latitude Longitude Location
29136   26550551  10/24/2013 06:16:34 PM                     NaN    DCA  Department of Consumer Affairs  Consumer Complaint  False Advertising           NaN   77092-2016   2700 EAST SELTICE WAY    EAST SELTICE WAY            NaN            NaN                   NaN                   NaN          NaN     HOUSTON      NaN           NaN  Assigned  11/13/2013 11:15:20 AM         10/29/2013 11:16:16 AM   0 Unspecified  Unspecified                        NaN                        NaN        Unspecified  Unspecified  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN      NaN       NaN      NaN
30939   26548831  10/24/2013 09:35:10 AM                     NaN    DCA  Department of Consumer Affairs  Consumer Complaint         Harassment           NaN   55164-0737          P.O. BOX 64437               64437            NaN            NaN                   NaN                   NaN          NaN    ST. PAUL      NaN           NaN  Assigned  11/13/2013 02:30:21 PM         10/29/2013 02:31:06 PM   0 Unspecified  Unspecified                        NaN                        NaN        Unspecified  Unspecified  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN      NaN       NaN      NaN
70539   26488417  10/15/2013 03:40:33 PM                     NaN    TLC   Taxi and Limousine Commission      Taxi Complaint   Driver Complaint        Street   11549-3650  365 HOFSTRA UNIVERSITY  HOFSTRA UNIVERSITY            NaN            NaN                   NaN                   NaN          NaN    HEMSTEAD      NaN           NaN  Assigned  11/30/2013 01:20:33 PM         10/16/2013 01:21:39 PM   0 Unspecified  Unspecified                        NaN                        NaN        Unspecified  Unspecified  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN    La Guardia Airport                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN      NaN       NaN      NaN
85821   26468296  10/10/2013 12:36:43 PM  10/26/2013 01:07:07 AM    DCA  Department of Consumer Affairs  Consumer Complaint      Debt Not Owed           NaN   29616-0759            PO BOX 25759           BOX 25759            NaN            NaN                   NaN                   NaN          NaN  GREENVILLE      NaN           NaN    Closed  10/26/2013 09:20:28 AM         10/26/2013 01:07:07 AM   0 Unspecified  Unspecified                        NaN                        NaN        Unspecified  Unspecified  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN      NaN       NaN      NaN
89304   26461137  10/09/2013 05:23:46 PM  10/25/2013 01:06:41 AM    DCA  Department of Consumer Affairs  Consumer Complaint         Harassment           NaN   35209-3114         600 BEACON PKWY         BEACON PKWY            NaN            NaN                   NaN                   NaN          NaN  BIRMINGHAM      NaN           NaN    Closed  10/25/2013 02:43:42 PM         10/25/2013 01:06:41 AM   0 Unspecified  Unspecified                        NaN                        NaN        Unspecified  Unspecified  Unspecified   Unspecified   Unspecified  Unspecified         Unspecified    Unspecified  Unspecified  Unspecified  Unspecified                N                          NaN          NaN                  NaN                   NaN                 NaN                      NaN       NaN                    NaN             NaN             NaN                 NaN      NaN       NaN      NaN

In [9]:
import random
def get_unique_key():
    return random.randint(0,1000000)
    
def get_mock_location():
    return random.uniform(-90, 90)

def get_zip_code():
    zip = random.randint(10000,11000)
    if zip > 10990:
        zip = str(zip) + '-1234'
    return str(zip)

def get_mock_row(i):
    res = dict()
    for k, function in mock_functions.items():
        res[k] = function()
    return res

In [10]:
service_requests.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name', 'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip', 'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2', 'Address Type', 'City', 'Landmark', 'Facility Type', 'Status', 'Due Date', 'Resolution Action Updated Date', 'Community Board', 'Borough', 'X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough', 'School Name', 'School Number', 'School Region', 'School Code', 'School Phone Number', 'School Address', 'School City', 'School State', 'School Zip', 'School Not Found', 'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'], dtype='object')

In [11]:
# make mock as close to the original data as possible!!
# TODO: Make it the same as the OG dataframe
mock_functions = {
    "Unique Key": lambda: get_unique_key(),
    'Longitude': lambda: random.uniform(-90, 90),
    'Latitude': lambda: random.uniform(-90, 90),
    'Incident Zip': lambda: get_zip_code(),
    'City': lambda: random.choice(["BROOKLYN", "NEW YORK", "BRONX"])
}

In [12]:
mock = pd.DataFrame(data=[get_mock_row(i) for i in range(len(service_requests))],
                    columns=service_requests.columns)

In [13]:
mock

        Unique Key  Created Date  Closed Date  Agency  Agency Name  Complaint Type  Descriptor  Location Type Incident Zip  Incident Address  Street Name  Cross Street 1  Cross Street 2  Intersection Street 1  Intersection Street 2  Address Type      City  Landmark  Facility Type  Status  Due Date  Resolution Action Updated Date  Community Board  Borough  X Coordinate (State Plane)  Y Coordinate (State Plane)  Park Facility Name  Park Borough  School Name  School Number  School Region  School Code  School Phone Number  School Address  School City  School State  School Zip  School Not Found  School or Citywide Complaint  Vehicle Type  Taxi Company Borough  Taxi Pick Up Location  Bridge Highway Name  Bridge Highway Direction  Road Ramp  Bridge Highway Segment  Garage Lot Name  Ferry Direction  Ferry Terminal Name   Latitude  Longitude  Location
0           753431           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10263               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  34.909506 -79.306471       NaN
1           380797           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10045               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -74.735914  -0.509116       NaN
2           184325           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10549               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  BROOKLYN       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -25.366939 -21.219696       NaN
3           611516           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10073               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  23.170133  83.696921       NaN
4           241148           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10741               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -81.455458  60.848788       NaN
...            ...           ...          ...     ...          ...             ...         ...            ...          ...               ...          ...             ...             ...                    ...                    ...           ...       ...       ...            ...     ...       ...                             ...              ...      ...                         ...                         ...                 ...           ...          ...            ...            ...          ...                  ...             ...          ...           ...         ...               ...                           ...           ...                   ...                    ...                  ...                       ...        ...                     ...              ...              ...                  ...        ...        ...       ...
111064      403083           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10977               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN     BRONX       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -82.039065 -14.434388       NaN
111065       23940           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10580               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  BROOKLYN       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -22.636733 -21.498543       NaN
111066      339617           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10858               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  BROOKLYN       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  81.595026  -5.449908       NaN
111067      947440           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10550               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -49.936024  56.128207       NaN
111068      436116           NaN          NaN     NaN          NaN             NaN         NaN            NaN        10304               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  25.796277  68.525637       NaN

[111069 rows x 52 columns]

Upload the data

In [14]:
dataset = sy.Dataset(name="test", asset_list=[sy.Asset(name=f"service_requests", data=service_requests,
                                                       mock=mock, mock_is_real=False)])
root_domain_client.upload_dataset(dataset)

  0%|                                                                                                                 | 0/1 [00:00<?, ?it/s]

Uploading: service_requests

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.52s/it]

<class 'syft.service.response.SyftSuccess'>: Dataset Added

## Create user account

In [15]:
user = root_domain_client.register(name="Jane Doe", email="jane@caltech.edu",
                            password="abc123", institution="Caltech", website="https://www.caltech.edu/")
# todo: give user data scientist role
guest_domain_client = node.client
guest_client = guest_domain_client.login(email="jane@caltech.edu", password="abc123")

# Data scientist: create result pointer

In [16]:
import numpy as np
import pandas as pd

## Summary
By the end of this chapter, we're going to have downloaded all of Canada's weather data for 2012, and saved it to a CSV.

We'll do this by downloading it one month at a time, and then combining all the months together.

## Get mocks

In [17]:
ds = guest_domain_client.datasets[0]

In [18]:
asset = ds.assets[0]

In [19]:
requests = asset.mock

## How do we know if it's messy?
We're going to look at a few columns here. I know already that there are some problems with the zip code, so let's look at that first.

To get a sense for whether a column has problems, I usually use `.unique()` to look at all its values. If it's a numeric column, I'll instead plot a histogram to get a sense of the distribution.

When we look at the unique values in "Incident Zip", it quickly becomes clear that this is a mess.

Some of the problems:

- Some have been parsed as strings, and some as floats
- There are `nans`
- Some of the zip codes are `29616-0759` or `83`
- There are some N/A values that pandas didn't recognize, like 'N/A' and 'NO CLUE'

What we can do:

- Normalize 'N/A' and 'NO CLUE' into regular nan values
- Look at what's up with the 83, and decide what to do
- Make everything strings

In [20]:
requests['Incident Zip'].unique()

Pointer:
['10263' '10045' '10549' ... '10903' '10079' '10536']

## Fixing the nan values and string/float confusion
We can pass a na_values option to pd.read_csv to clean this up a little bit. We can also specify that the type of Incident Zip is a string, not a float.

In [21]:
na_values = ['NO CLUE', 'N/A', '0']
requests.replace(na_values, np.NaN);

In [22]:
requests['Incident Zip'].unique()

Pointer:
['10263' '10045' '10549' ... '10903' '10079' '10536']

## What's up with the dashes?

In [23]:
rows_with_dashes = requests['Incident Zip'].str.contains('-').fillna(False)
len(requests[rows_with_dashes])

1125

In [24]:
requests[rows_with_dashes]

TwinPointer(Mock):
        Unique Key  Created Date  Closed Date  Agency  Agency Name  Complaint Type  Descriptor  Location Type Incident Zip  Incident Address  Street Name  Cross Street 1  Cross Street 2  Intersection Street 1  Intersection Street 2  Address Type      City  Landmark  Facility Type  Status  Due Date  Resolution Action Updated Date  Community Board  Borough  X Coordinate (State Plane)  Y Coordinate (State Plane)  Park Facility Name  Park Borough  School Name  School Number  School Region  School Code  School Phone Number  School Address  School City  School State  School Zip  School Not Found  School or Citywide Complaint  Vehicle Type  Taxi Company Borough  Taxi Pick Up Location  Bridge Highway Name  Bridge Highway Direction  Road Ramp  Bridge Highway Segment  Garage Lot Name  Ferry Direction  Ferry Terminal Name   Latitude  Longitude  Location
55          565697           NaN          NaN     NaN          NaN             NaN         NaN            NaN   10995-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN     BRONX       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  -6.972331  45.508128       NaN
297         971396           NaN          NaN     NaN          NaN             NaN         NaN            NaN   10995-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  BROOKLYN       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  39.869294  37.801182       NaN
475         159338           NaN          NaN     NaN          NaN             NaN         NaN            NaN   10997-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  BROOKLYN       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  33.894450   7.051424       NaN
668         127005           NaN          NaN     NaN          NaN             NaN         NaN            NaN   10995-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN     BRONX       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -68.323681  53.883370       NaN
704         198380           NaN          NaN     NaN          NaN             NaN         NaN            NaN   11000-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -13.590526  -1.398413       NaN
...            ...           ...          ...     ...          ...             ...         ...            ...          ...               ...          ...             ...             ...                    ...                    ...           ...       ...       ...            ...     ...       ...                             ...              ...      ...                         ...                         ...                 ...           ...          ...            ...            ...          ...                  ...             ...          ...           ...         ...               ...                           ...           ...                   ...                    ...                  ...                       ...        ...                     ...              ...              ...                  ...        ...        ...       ...
110572       54800           NaN          NaN     NaN          NaN             NaN         NaN            NaN   11000-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN     BRONX       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  65.285167  70.865903       NaN
110712      316517           NaN          NaN     NaN          NaN             NaN         NaN            NaN   10996-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN   3.485719 -41.725580       NaN
110790      912043           NaN          NaN     NaN          NaN             NaN         NaN            NaN   10996-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  NEW YORK       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  59.446852  17.056530       NaN
110798      974738           NaN          NaN     NaN          NaN             NaN         NaN            NaN   11000-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  BROOKLYN       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN  40.194253  77.451710       NaN
110867      474230           NaN          NaN     NaN          NaN             NaN         NaN            NaN   11000-1234               NaN          NaN             NaN             NaN                    NaN                    NaN           NaN  BROOKLYN       NaN            NaN     NaN       NaN                             NaN              NaN      NaN                         NaN                         NaN                 NaN           NaN          NaN            NaN            NaN          NaN                  NaN             NaN          NaN           NaN         NaN               NaN                           NaN           NaN                   NaN                    NaN                  NaN                       NaN        NaN                     NaN              NaN              NaN                  NaN -37.654519  24.676801       NaN

[1125 rows x 52 columns]

I thought these were missing data and originally deleted them like this:

`requests['Incident Zip'][rows_with_dashes] = np.nan`

But then my friend Dave pointed out that 9-digit zip codes are normal. Let's look at all the zip codes with more than 5 digits, make sure they're okay, and then truncate them.

In [25]:
long_zip_codes = requests['Incident Zip'].str.len() > 5
requests['Incident Zip'][long_zip_codes].unique()

Pointer:
['10995-1234' '10997-1234' '11000-1234' '10992-1234' '10991-1234'
 '10993-1234' '10998-1234' '10994-1234' '10999-1234' '10996-1234']

Those all look okay to truncate to me.

In [26]:
requests['Incident Zip'] = requests['Incident Zip'].str.slice(0, 5)

Done.

Earlier I thought 00083 was a broken zip code, but turns out Central Park's zip code 00083! Shows what I know. I'm still concerned about the 00000 zip codes, though: let's look at that.

In [27]:
requests[requests['Incident Zip'] == '00000']

TwinPointer(Mock):
Empty DataFrame
Columns: [Unique Key, Created Date, Closed Date, Agency, Agency Name, Complaint Type, Descriptor, Location Type, Incident Zip, Incident Address, Street Name, Cross Street 1, Cross Street 2, Intersection Street 1, Intersection Street 2, Address Type, City, Landmark, Facility Type, Status, Due Date, Resolution Action Updated Date, Community Board, Borough, X Coordinate (State Plane), Y Coordinate (State Plane), Park Facility Name, Park Borough, School Name, School Number, School Region, School Code, School Phone Number, School Address, School City, School State, School Zip, School Not Found, School or Citywide Complaint, Vehicle Type, Taxi Company Borough, Taxi Pick Up Location, Bridge Highway Name, Bridge Highway Direction, Road Ramp, Bridge Highway Segment, Garage Lot Name, Ferry Direction, Ferry Terminal Name, Latitude, Longitude, Location]
Index: []

This looks bad to me. Let's set these to nan.

In [28]:
zero_zips = requests['Incident Zip'] == '00000'
requests.loc[zero_zips, 'Incident Zip'] = np.nan

TypeError: unhashable type: 'AnyActionObject'

Great. Let's see where we are now:

In [ ]:
unique_zips = requests['Incident Zip'].unique()
unique_zips.sort()
unique_zips

Amazing! This is much cleaner. There's something a bit weird here, though -- I looked up 77056 on Google maps, and that's in Texas.

Let's take a closer look:

In [ ]:
zips = requests['Incident Zip']
# Let's say the zips starting with '0' and '1' are okay, for now. (this isn't actually true -- 13221 is in Syracuse, and why?)
is_close = zips.str.startswith('0') | zips.str.startswith('1')
# There are a bunch of NaNs, but we're not interested in them right now, so we'll say they're False
is_far = ~(is_close) & zips.notnull()

In [ ]:
zips[is_far]

Okay, there really are requests coming from LA and Houston! Good to know. Filtering by zip code is probably a bad way to handle this -- we should really be looking at the city instead.

In [ ]:
requests['City'].str.upper().value_counts()

It looks like these are legitimate complaints, so we'll just leave them alone.

## Putting it together

In [ ]:
# @sy.syft_function(input_policy=sy.ExactMatch(df=ds.assets[0]),
#                   output_policy=sy.SingleExecutionExactOutput())
# def zip_codes(df):
#     import pandas as pd
#     import numpy as np
#     na_values = ['NO CLUE', 'N/A', '0']
#     def fix_zip_codes(zips):
#         # Truncate everything to length 5 
#         zips = zips.str.slice(0, 5)

#         # Set 00000 zip codes to nan
#         zero_zips = zips == '00000'
#         zips[zero_zips] = np.nan

#         return zips
#     df['Incident Zip'] = fix_zip_codes(df['Incident Zip'])
#     result = df['Incident Zip'].unique()
#     # todo, we are adding list(result) here to fix serialization errors
#     return list(result)

Request code execution

# Data owner: approve request

In [32]:
root_domain_client = node.login(email="info@openmined.org", password="changethis")

In [34]:
root_domain_client.api.services.request[0].approve()

<class 'syft.service.response.SyftSuccess'>: Request 739c91bf8fea4030b62ba10d880500df changes applied

# Data scientist: fetch result

In [35]:
guest_client = guest_domain_client.login(email="jane@caltech.edu", password="abc123")

In [36]:
real_result = result.get_from(guest_client)

In [37]:
real_result

Empty DataFrame
Columns: [atime, ctime, package-name, mru-program, tag]
Index: []

In [38]:
node.land()