In [1]:
import syft as sy
import torch as th
sy.VERBOSE = False

/Users/atrask/opt/anaconda3/envs/syft/lib/python3.8/site-packages/torch/distributed/distributed_c10d.py:102: UserWarning: torch.distributed.reduce_op is deprecated, please use torch.distributed.ReduceOp instead
  warnings.warn("torch.distributed.reduce_op is deprecated, please use "

In [2]:
duet = sy.Duet(domain_url="http://127.0.0.1:5000/")

♫♫♫ > Connected!

In [3]:
duet.store[0].request()

In [5]:
duet.requests.pandas

,Request Name,Reason,Request ID,Requested Object's ID
0,,,<UID:5463cf42-fd27-4654-a91f-af3d9f29623d>,<UID:66c9acee-6498-430a-aacd-687a8132146c>

In [7]:
duet.store[0].get()

tensor([1, 2, 3])

In [9]:
x = duet.store[0]

In [16]:
x.get()

tensor([1, 2, 3])