In [1]:
import syft as sy
import numpy as np
import pandas as pd

In [5]:
domain = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://docker-host:8081... done! 	 Logging into brazil... done!

In [2]:
italy_data = pd.read_csv("../../trade_demo/datasets/it - feb 2021.csv")[0:40000]
italy_data.head()

/home/ionesio/OpenMined/v/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Australia,NaN,940510,Chandeliers and other electric ceiling or wall...,0,NaN,NaN,6.0,1899,0
1,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Indonesia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33600.0,134879,0
2,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33127.0,314410,0
3,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292990,Nitrogen-function compounds; n.e.s. in chapter...,0,NaN,NaN,4.0,4142,0
4,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Malaysia,NaN,293040,Organo-sulphur compounds; methionine,0,NaN,NaN,51000.0,104889,0

In [3]:
# We will upload only the first 40k rows and three columns
# All these three columns are of `int` type
sampled_italy_dataset = sy.Tensor(italy_data[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values.astype('int32'))
sampled_italy_dataset.public_shape = sampled_italy_dataset.shape

In [6]:
domain.load_dataset(
    assets={"jan2020-40k": sampled_italy_dataset,
            "feb2020-40k": sampled_italy_dataset,
            "mar2020-40k": sampled_italy_dataset,
           },
    name="Canada Trade Data - First 40000 rows",
    description="""A collection of reports from iStat's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

Loading dataset... checking asset types...

WARNING - Non-DP Asset: You just passed in a asset 'jan2020-40k' which cannot be tracked with differential privacy because it is a <class 'syft.core.tensor.tensor.Tensor'> object.

This means you'll need to manually approve any requests which leverage this data. If this is ok with you, proceed. If you'd like to use automatic differential privacy budgeting, please pass in a DP-compatible tensor type such as by calling annotate_with_dp_metadata() on a sy.Tensor with a np.int32 or np.float32 inside.
Are you sure you want to proceed? (y/n)y


WARNING - Non-DP Asset: You just passed in a asset 'feb2020-40k' which cannot be tracked with differential privacy because it is a <class 'syft.core.tensor.tensor.Tensor'> object.

This means you'll need to manually approve any requests which leverage this data. If this is ok with you, proceed. If you'd like to use automatic differential privacy budgeting, please pass in a DP-compatible tensor type such as by calling annotate_with_dp_metadata() on a sy.Tensor with a np.int32 or np.float32 inside.
Are you sure you want to proceed? (y/n)y


WARNING - Non-DP Asset: You just passed in a asset 'mar2020-40k' which cannot be tracked with differential privacy because it is a <class 'syft.core.tensor.tensor.Tensor'> object.

This means you'll need to manually approve any requests which leverage this data. If this is ok with you, proceed. If you'd like to use automatic differential privacy budgeting, please pass in a DP-compatible tensor type such as by calling annotate_with_dp_metadata() on a sy.Tensor with a np.int32 or np.float32 inside.
Are you sure you want to proceed? (y/n)y
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [7]:
domain.datasets

In [8]:
domain.datasets[0]['mar2020-40k'].request(reason="I'd like to have access to this dataset!")

In [9]:
domain.requests