In [1]:
import syft as sy
from syft.util import autocache

In [2]:
worker = sy.Worker.named("test-domain-1", processes=1, reset=True)
domain_client = worker.root_client

SQLite Store Path:
!open file:///tmp/7bca415d13ed1ec841f0d0aede098dbb.sqlite

> Starting Worker: test-domain-1 - 7bca415d13ed1ec841f0d0aede098dbb - NodeType.DOMAIN - [<class 'syft.core.node.new.user_service.UserService'>, <class 'syft.core.node.new.metadata_service.MetadataService'>, <class 'syft.core.node.new.action_service.ActionService'>, <class 'syft.core.node.new.test_service.TestService'>, <class 'syft.core.node.new.dataset_service.DatasetService'>, <class 'syft.core.node.new.user_code_service.UserCodeService'>, <class 'syft.core.node.new.request_service.RequestService'>, <class 'syft.core.node.new.data_subject_service.DataSubjectService'>, <class 'syft.core.node.new.network_service.NetworkService'>, <class 'syft.core.node.new.message_service.MessageService'>, <class 'syft.core.node.new.project_service.ProjectService'>, <class 'syft.core.node.new.data_subject_member_service.DataSubjectMemberService'>]

In [3]:
data_subjects = domain_client.api.services.data_subject.get_all()

In [4]:
data_subjects

[]

In [5]:
assert len(data_subjects) == 0

In [6]:
country = sy.DataSubject(name="Country", aliases=["country_code"])

In [7]:
canada = sy.DataSubject(name="Canada", aliases=["country_code:ca"])
germany = sy.DataSubject(name="Germany", aliases=["country_code:de"])
spain = sy.DataSubject(name="Spain", aliases=["country_code:es"])
france = sy.DataSubject(name="France", aliases=["country_code:fr"])
japan = sy.DataSubject(name="Japan", aliases=["country_code:jp"])
uk = sy.DataSubject(name="United Kingdom", aliases=["country_code:uk"])
usa = sy.DataSubject(name="United States of America", aliases=["country_code:us"])
australia = sy.DataSubject(name="Australia", aliases=["country_code:au"])
india = sy.DataSubject(name="India", aliases=["country_code:in"])

In [8]:
country.add_member(canada)
country.add_member(germany)
country.add_member(spain)
country.add_member(france)
country.add_member(japan)
country.add_member(uk)
country.add_member(usa)
country.add_member(australia)
country.add_member(india)

country.members

{'Canada': <DataSubject: Canada>,
 'Germany': <DataSubject: Germany>,
 'Spain': <DataSubject: Spain>,
 'France': <DataSubject: France>,
 'Japan': <DataSubject: Japan>,
 'United Kingdom': <DataSubject: United Kingdom>,
 'United States of America': <DataSubject: United States of America>,
 'Australia': <DataSubject: Australia>,
 'India': <DataSubject: India>}

In [9]:
registry = domain_client.data_subject_registry

In [10]:
response = registry.add_data_subject(country)

In [11]:
response

<class 'syft.core.node.new.response.SyftSuccess'>: 10 Data Subjects Registered

In [12]:
assert response

In [13]:
domain_client.data_subject_registry

In [14]:
data_subjects = domain_client.api.services.data_subject.get_all()

In [15]:
assert len(data_subjects) == 10

In [16]:
canada_dataset_url = "https://github.com/OpenMined/datasets/blob/main/trade_flow/ca%20-%20feb%202021.csv?raw=True"

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(autocache(canada_dataset_url))

/tmp/ipykernel_287840/754433127.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(autocache(canada_dataset_url))

In [19]:
df

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227449,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550952,"Yarn; (not sewing thread), of polyester staple...",0,NaN,NaN,5406.0,34272,0
227450,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550999,"Yarn; (not sewing thread), of synthetic staple...",0,NaN,NaN,7345.0,228182,0
227451,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550969,"Yarn; (not sewing thread), of acrylic or modac...",0,NaN,NaN,1839.0,18812,0
227452,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550962,"Yarn; (not sewing thread), of acrylic or modac...",0,NaN,NaN,1437.0,23140,0
227453,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550959,"Yarn; (not sewing thread), of polyester staple...",0,NaN,NaN,5660.0,73652,0

In [20]:
ca_data = df[0:10]

In [21]:
mock_ca_data = df[10:20]

In [22]:
ca_data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [23]:
dataset = sy.Dataset(name="Canada Trade Value")

In [24]:
dataset.set_description("""Canada Trade Data""")

In [25]:
dataset.add_citation("Person, place or thing")
dataset.add_url("https://github.com/OpenMined/datasets/tree/main/trade_flow")

In [26]:
dataset.add_contributor(role=sy.roles.UPLOADER, 
                                name="Andrew Trask", 
                                email="andrew@openmined.org",
                                note="Andrew runs this domain and prepared the dataset metadata.")

dataset.add_contributor(role=sy.roles.EDITOR, 
                                name="Madhava Jay", 
                                email="madhava@openmined.org",
                                note="Madhava tweaked the description to add the URL because Andrew forgot.")

In [27]:
dataset.contributors

[syft.core.node.new.dataset.Contributor,
 syft.core.node.new.dataset.Contributor]

In [28]:
assert len(dataset.contributors) == 2

In [29]:
ctf = sy.Asset(name="canada_trade_flow")
ctf.set_description("""all the datas""")

In [30]:
ctf.add_contributor(role=sy.roles.UPLOADER, 
                      name="Andrew Trask", 
                      email="andrew@openmined.org",
                      note="Andrew runs this domain and prepared the asset.")

In [31]:
ctf.set_obj(ca_data)

In [32]:
ctf.set_shape((10, 22))

In [33]:
ctf.add_data_subject(canada)

In [34]:
dataset.add_asset(ctf)

In [35]:
dataset.remove_asset(name=ctf.name)

In [36]:
ctf.set_mock(mock_ca_data, mock_is_real=False)

In [37]:
dataset.add_asset(ctf)

In [38]:
domain_client.upload_dataset(dataset)

  0%| | 0/1 [00:00<?,

Uploading: canada_trade_flow

100%|█| 1/1 [00:00<00

<class 'syft.core.node.new.response.SyftSuccess'>: Dataset Added

In [39]:
datasets = domain_client.api.services.dataset.get_all()

In [40]:
assert len(datasets) == 1

In [41]:
datasets

[syft.core.node.new.dataset.Dataset]

In [42]:
mock = domain_client.datasets[0].assets[0].mock

In [43]:
assert mock_ca_data.equals(mock.syft_action_data)

In [44]:
real = domain_client.datasets[0].assets[0].data

In [45]:
assert ca_data.equals(real.syft_action_data)

In [46]:
mock

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
10,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Bangladesh,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,227222,0
11,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Haiti,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,14748,0
12,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Guatemala,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1314,0
13,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Iraq,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1825,0
14,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Israel,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1063627,0
15,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Italy,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,8359327,0
16,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Jordan,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,16858,0
17,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Rep. of Moldova,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,29897,0
18,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Nigeria,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,22235,0
19,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Slovenia,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1328,0

In [47]:
real

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [48]:
mock["Trade Value (US$)"].sum()

9738381

In [49]:
real["Trade Value (US$)"].sum()

2037066